<p><input type="text" name="field_{{field.parameter.param_campo}}" id="field_{{field.parameter.param_campo}}" readonly {{ field.required ? "required" : null }} class="form-control" value="{{ record_data[ field.parameter.param_campo ] }}"></p>
<p>
	<a href="javascript:;" onclick="iconParameter.openPopup('{{ base }}/parameter/icon', '{{ record_data[ field.parameter.param_campo ] }}', '{{ field.parameter.param_campo }}', '{{ field.relation.tab_campo }}');" class="btn bg-orange">Buscar</a>
	<a href="javascript:;" onclick="iconParameter.clear('{{ field.parameter.param_campo }}', '{{ field.relation.tab_campo }}');" class="btn bg-navy">Limpar</a>
</p>