{% set record_value = ( action == "Inserir" ? field.default : record_data[ field.parameter.param_campo ] ) %}
<p>
	<select name="field_{{ field.parameter.param_campo }}" id="field_{{ field.parameter.param_campo }}" {{ field.required ? "required" : null }} class="chosen-select list-parameter-flag_lista" style="min-width: 280px">
		{% if not field.required %}
			<option value="">Selecione...</option>
		{% endif %}
		{% for enum_value in field.enum_values %}
			<option{{ record_value == enum_value ? " selected" : null }}>{{ enum_value }}</option>
		{% endfor %}
	</select>
</p>