<form action="{{ base }}/module/{{ module.tab_id }}/{{ record[ primary_key ] }}" method="post">
	<input type="hidden" name="_method" value="PUT">
	<input type="hidden" name="action_type" value="editar_lista">
	<input type="hidden" name="after_action" value="list">
	<input type="hidden" name="id_record" value="{{ record[ primary_key ] }}">
	<input type="hidden" name="redirect" value="{{ base }}/module/{{ module.tab_id }}{{ query_string.all }}">

	<select class="chosen-select list-parameter-flag_lista" name="field_{{ field.parameter.param_campo }}" onchange="$(this).parents('form').first().submit();">
		{% for enum_value in field.enum_values %}
			<option{{ record[ field.parameter.param_campo ] == enum_value ? " selected" : null }}>{{ enum_value }}</option>
		{% endfor %}
	</select>
</form>