{% if record[ field.parameter.param_campo ] and record[ field.parameter.param_campo ]|length > 0 %}
	<p>
		<a href="{{ base ~ upload_dir ~ "/" ~ record[ field.parameter.param_campo ] }}" target="_blank" class="boxer">
			<img src="{{ base ~ upload_dir ~ "/" ~ record[ field.parameter.param_campo ] }}" style="max-width: 120px">
		</a>
	</p>
{% endif %}