<input type="hidden" name="field_{{ field.parameter.param_campo }}" id="field_{{ field.parameter.param_campo }}" class="form-control" value="{{ record_data[ field.parameter.param_campo ] }}">
<p><input type="file" name="file_field_{{ field.parameter.param_campo }}" id="file_field_{{ field.parameter.param_campo }}" {{ field.required ? "required" : null }} class="form-control parameter-arquivo"></p>

{% if record_data[ field.parameter.param_campo ] and record_data[ field.parameter.param_campo ]|length > 0 %}
	<p><a href="{{ base ~ upload_dir ~ "/" ~ record_data[ field.parameter.param_campo ] }}" target="_blank" class="btn bg-blue">Visualizar arquivo</a></p>
{% endif %}