<input type="hidden" name="field_{{ field.parameter.param_campo }}" id="field_{{ field.parameter.param_campo }}" value="{{ record_data[ field.parameter.param_campo ] }}">
<p><input type="text" name="foreign_field_{{field.parameter.param_campo}}" id="foreign_field_{{field.parameter.param_campo}}" disabled {{ field.required ? "required" : null }} class="form-control" value="{{ record_data[ "foreign_field_#{field.parameter.param_campo}" ] }}"></p>
<p>
	<a href="javascript:;" onclick="foreignKeyParameter.openPopup('{{ base }}/module/{{ field.relation.pr_id_pai }}', '{{ record_data[ field.parameter.param_campo ] }}', '{{ field.parameter.param_campo }}', '{{ field.relation.tab_campo }}');" class="btn bg-orange">Buscar</a>
	<a href="javascript:;" onclick="foreignKeyParameter.clear('{{ field.parameter.param_campo }}', '{{ field.relation.tab_campo }}');" class="btn bg-navy">Limpar</a>
</p>