{% set module_url = "#{base}/module/#{module.tab_id}/popup" %}
<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <meta content='width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no' name='viewport'>

    <title>Escolher registro | {{ app.vektor.title }}</title>
    <!-- Bootstrap 3.3.2 -->
    <link href="{{ base }}/public/bootstrap/css/bootstrap.min.css" rel="stylesheet" type="text/css" />    
    <!-- FontAwesome 4.3.0 -->
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet" type="text/css" />
    <!-- Ionicons 2.0.0 -->
    <link href="http://code.ionicframework.com/ionicons/2.0.0/css/ionicons.min.css" rel="stylesheet" type="text/css" />    
    <!-- Theme style -->
    <link href="{{ base }}/public/dist/css/AdminLTE.min.css" rel="stylesheet" type="text/css" />
    <!-- AdminLTE Skins. Choose a skin from the css/skins 
         folder instead of downloading all of them to reduce the load. -->
    <link href="{{ base }}/public/dist/css/skins/_all-skins.min.css" rel="stylesheet" type="text/css" />
    <!-- iCheck -->
    <link href="{{ base }}/public/plugins/iCheck/minimal/_all.css" rel="stylesheet" type="text/css" />
    <!-- iCheck -->
    <link href="{{ base }}/public/plugins/iCheck/flat/blue.css" rel="stylesheet" type="text/css" />
    <!-- Date Picker -->
    <link href="{{ base }}/public/plugins/datepicker/datepicker3.css" rel="stylesheet" type="text/css" />
    <!-- Daterange picker -->
    <link href="{{ base }}/public/plugins/daterangepicker/daterangepicker-bs3.css" rel="stylesheet" type="text/css" />
    <!-- bootstrap wysihtml5 - text editor -->
    <link href="{{ base }}/public/plugins/bootstrap-wysihtml5/bootstrap3-wysihtml5.min.css" rel="stylesheet" type="text/css" />

    <!-- chosen -->
    <link href="{{ base }}/public/plugins/chosen/chosen.min.css" rel="stylesheet" type="text/css" />

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
    <![endif]-->
  </head>
  <body class="skin-blue layout-top-nav" id="popup-foreign">
    <div class="wrapper">
      <header class="main-header">
        <nav class="navbar navbar-static-top">
          <div class="container-fluid">
            <div class="navbar-header">
              <a href="{{ base }}" class="navbar-brand"><b>{{ app.vektor.title }}</b></a>
            </div>
          </div>
        </nav>
      </header>

      <!-- Main content -->
      <!-- Full Width Column -->
      <div class="content-wrapper">
        <section class="content">
          <div class="box box-default">
            <div class="box-header with-border">
              <h3 class="box-title">Listagem</h3>
              {% if parameters|length > 0 %}
              <div class="box-tools">
                <form method="get" action="{{ module_url }}">
                  <div class="input-group">
                    <input type="text" name="search_query" class="form-control input-sm pull-right" style="width: 150px;" value="{{ search_query }}" placeholder="Procurar..."/>
                    <div class="input-group-btn">
                      <button class="btn btn-sm btn-default"><i class="fa fa-search"></i></button>
                    </div>
                  </div>
                </form>
              </div>
              {% endif %}
            </div>
            <div class="box-body">
              <table class="table table-hover table-module">
                <thead>{% include "parameter/chave/table.header.html" %}</thead>
                <tfoot>{% include "parameter/chave/table.header.html" %}</tfoot>
                <tbody>
                  {% for record in data %}
                  <tr>
                    <td>
                      <input type="radio" name="foreign_key_record" value="{{ record[ primary_key ] }}" class="minimal-red foreign_key_record">
                    </td>

                    {% for field in fields %}
                      <td class="foreign_field_{{ field.parameter.param_campo }}">{% include "parameter/#{field.parameter.param_tp_nome}/_list.html" %}</td>
                    {% endfor %}
                  </tr>
                  {% endfor %}
                </tbody>
              </table>
            </div><!-- /.box-body -->
            <div class="box-footer clearfix">
              <div class="pull-left">Total: <strong>{{ total_records }} registros</strong></div>
              {% if total_records > 0 %}
              <ul class="pagination pagination-sm no-margin pull-right">
                <li{{ current_page == 1 ? ' class="disabled"' : null }}><a href="{{ current_page == 1 ? 'javascript:;' : "#{module_url}/page/1" }}">««</a></li>
                <li{{ current_page == 1 ? ' class="disabled"' : null }}><a href="{{ current_page == 1 ? 'javascript:;' : "#{module_url}/page/#{current_page-1}" }}">«</a></li>
                {% for i in (current_page - 4)..(current_page + 4) %}
                  {% if i > 0 and i <= total_pages %}
                    <li{{ i == current_page ? ' class="active"' : null }}><a href="{{ module_url }}/page/{{ i }}">{{ i }}</a></li>
                  {% endif %}
                {% endfor %}
                <li{{ current_page == total_pages ? ' class="disabled"' : null }}><a href="{{ current_page == total_pages ? 'javascript:;' : "#{module_url}/page/#{current_page+1}" }}">»</a></li>
                <li{{ current_page == total_pages ? ' class="disabled"' : null }}><a href="{{ current_page == total_pages ? 'javascript:;' : "#{module_url}/page/#{total_pages}" }}">»»</a></li>
              </ul>
              {% endif %}
            </div>
          </div>
        </section>
      </div>
    </div>

    <!-- jQuery 2.1.3 -->
    <script src="{{ base }}/public/plugins/jQuery/jQuery-2.1.3.min.js"></script>
    <!-- jQuery UI 1.11.2 -->
    <script src="http://code.jquery.com/ui/1.11.2/jquery-ui.min.js" type="text/javascript"></script>
    <!-- Resolve conflict in jQuery UI tooltip with Bootstrap tooltip -->
    <script>
      $.widget.bridge('uibutton', $.ui.button);
    </script>
    <!-- Bootstrap 3.3.2 JS -->
    <script src="{{ base }}/public/bootstrap/js/bootstrap.min.js" type="text/javascript"></script>    
    <!-- daterangepicker -->
    <script src="{{ base }}/public/plugins/daterangepicker/daterangepicker.js" type="text/javascript"></script>
    <!-- datepicker -->
    <script src="{{ base }}/public/plugins/datepicker/bootstrap-datepicker.js" type="text/javascript"></script>
    <!-- Bootstrap WYSIHTML5 -->
    <script src="{{ base }}/public/plugins/bootstrap-wysihtml5/bootstrap3-wysihtml5.all.min.js" type="text/javascript"></script>
    <!-- iCheck -->
    <script src="{{ base }}/public/plugins/iCheck/icheck.min.js" type="text/javascript"></script>
    <!-- Slimscroll -->
    <script src="{{ base }}/public/plugins/slimScroll/jquery.slimscroll.min.js" type="text/javascript"></script>
    <!-- FastClick -->
    <script src='{{ base }}/public/plugins/fastclick/fastclick.min.js'></script>
    <!-- Chosen -->
    <script src='{{ base }}/public/plugins/chosen/chosen.jquery.min.js'></script>
    <!-- AdminLTE App -->
    <script src="{{ base }}/public/dist/js/app.min.js" type="text/javascript"></script>

    <!-- AdminLTE dashboard demo (This is only for demo purposes) -->
    <script src="{{ base }}/public/dist/js/pages/dashboard.js" type="text/javascript"></script>

    <!-- AdminLTE for demo purposes -->
    <script src="{{ base }}/public/dist/js/demo.js" type="text/javascript"></script>

    <script src="{{ base }}/public/dist/js/vektor.js" type="text/javascript"></script>
  </body>
</html>