<tr>
  <th width="40"></th>

	{% for field in fields %}
	<th><a href="{{ module_url }}/page/{{current_page}}?ordem_campo={{ field.parameter.param_campo }}&ordem_direcao=ASC" style="color: black">{{ field.parameter.param_lista }}</a></th>
	{% endfor %}
</tr>