<section id="agenda" class="section">
    <div class="container">
        <h1>Agenda</h1>
        <div class="top">
            <div class="row">
                <div class="col-xs-12 col-sm-4 col-md-3 col-lg-2">
                    <div class="select-style">
                        <select id="select-month"></select>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-8 col-md-9 col-lg-10">
                    <ul class="djs">
                        <li data-id="all"><a href="javascript:;" class="selected">Todos</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>

    <div class="dates">
        <div class="container"></div>
    </div>
</section>
<!-- /#agenda -->