<section class="section">
    <div class="container">
        <header class="section-header">
            <h1>Artistas {{type}}</h1>
            <p>Todos os artistas {{type}}</p>
        </header>

        <div class="row list template-artistas">
            <div class="col-xs-12 col-sm-4 col-md-4 col-lg-3 item" ng-repeat="artist in artists">
                <a ui-sref="artistaShow({ id: (artist.id + '-' + artist.nameSlug) })">
                    <figure class="ratio ratio-1-1">
                        <div class="inner-mask"><div class="mask"><img src="{{url}}public/upload/{{artist.image_white}}" alt="{{artist.name}}"></div></div>
                        <div class="content">
                            <img src="{{url}}public/upload/{{artist.image}}" alt="{{artist.name}}">
                        </div>
                    </figure>
                    <h3>{{artist.name}}</h3>
                    <p>{{artist.place}}.</p>
                </a>
            </div>
        </div>
    </div>
</section>
