<section class="artista">
    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
                <div id="profile">
                    <figure class="ratio ratio-1-1">
                        <div class="content">
                            <img src="{{url}}public/upload/{{item.image}}" alt="{{item.name}}">
                        </div>
                    </figure>

                    <div class="buttons">
                        <a ng-click="request()" href="javascript:;" class="solicitar-pedido">{{btnRequestTitle}} <span><i class="fa fa-angle-right"></i></a>
                    </div>
                </div>
            </div>
            <div class="col-xs-12 col-sm-8 col-md-8 col-lg-8">
                <section id="info">
                    <div class="clearfix">
                        <div class="text-center">
                            <img src="{{url}}public/upload/{{item.image_black}}" alt="{{item.name}} Logo">
                            <p class="location">{{item.place}}</p>
                        </div>
                    </div>
                </section>
                <!-- /#info -->

                <section id="videos" ng-if="item.video">
                    <h2>Vídeos</h2>
                    <div class="ratio ratio-16-9" id="iframe-video">
                        <div class="content">
                            <iframe width="100%" height="100%" ng-src="{{getYoutubeIframeSrc(item.video)}}"></iframe>
                        </div>
                    </div>
                </section>
                <!-- #videos -->
            </div>
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12" ng-if="item.pictures.length > 0">
                <section id="fotos" class="section">
                    <h2>Fotos</h2>
                    <div class="container-fotos container-with-arrow">
                        <a href="javascript:;" class="arrow left"><img src="{{url}}public/assets/images/arrow-left-news.png"></a>
                        <div id="cycle-pictures" data-cycle-swipe="true" data-cycle-swipe-fx="scrollHorz" data-cycle-fx="carousel" data-cycle-timeout="0" data-cycle-slides=".item" data-cycle-next="#fotos .right" data-cycle-prev="#fotos .left">
                            <a href="{{url}}public/upload/{{picture.image}}" class="boxer item" data-boxer-height="500" data-boxer-width="500" data-gallery="fotos-artista" ng-repeat="picture in item.pictures">
                                <img src="{{url}}public/upload/{{picture.image}}">
                            </a>
                        </div>
                        <a href="javascript:;" class="arrow right"><img src="{{url}}public/assets/images/arrow-right-news.png"></a>
                    </div>
                </section>
                <!-- /#fotos -->
            </div>
            <div class="col-xs-12 col-sm-5 col-md-5 col-lg-5">
                <section id="bio" class="section">
                    <h2>Bio</h2>
                    <div ng-bind-html="item.bio"></div>
                </section>
            </div>
            <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4" ng-if="item.facebook_url">
                <section id="facebook-embed" class="section">
                    <h2>Facebook</h2>
                    <div fb-page="{{item.facebook_url}}" fb-height="300" class="text-center"></div>
                </section>
            </div>
            <div class="col-xs-12 col-sm-3 col-md-3 col-lg-3">
                <section id="social" class="section">
                    <h2>Social</h2>
                    <ul class="social">
                        <li ng-if="item.google_url"><a href="{{item.google_url}}" target="_blank"><i class="fa fa-google-plus"></i></a></li>
                        <li ng-if="item.twitter_url"><a href="http://www.twitter.com/{{item.twitter_url}}" target="_blank"><i class="fa fa-twitter"></i></a></li>
                        <li ng-if="item.facebook_url"><a href="{{item.facebook_url}}" target="_blank"><i class="fa fa-facebook"></i></a></li>
                        <li ng-if="item.soundcloud_url"><a href="{{item.soundcloud_url}}" target="_blank"><i class="fa fa-soundcloud"></i></a></li>
                    </ul>
                </section>
            </div>
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12" ng-if="item.embed_soundcloud_url">
                <section id="soundcloud-embed" class="section">
                    <h2>Ouça {{item.name}}</h2>
                    <iframe width="100%" height="450" scrolling="no" frameborder="no" ng-src="{{getSoundCloudIframeSrc(item.embed_soundcloud_url)}}"></iframe>
                </section>
            </div>
        </div>
    </div>
</section>