<section class="section" id="contato">
    <div class="container">
        <header class="section-header">
            <h1>Contato</h1>
            <p>Envie-nos uma mensagem</p>
        </header>

        <form ng-submit="send()" class="form" id="form-contato">
            <div class="row">
                <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
                    <input type="text" class="field-nome" name="nome" required placeholder="Seu nome">
                </div>
                <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
                    <input type="email" class="field-email" name="email" required placeholder="Seu e-mail">
                </div>
                <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
                    <input type="text" class="field-telefone" name="telefone" required placeholder="Seu telefone">
                </div>
                <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
                    <input type="text" class="field-assunto" name="assunto" required placeholder="Assunto">
                </div>
                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                    <textarea class="field-mensagem" name="mensagem" required placeholder="Mensagem"></textarea>
                </div>
                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                    <button class="submit pull-right">Enviar <i class="fa fa-angle-right"></i></button>
                </div>
            </div>
        </form>
    </div>
</section>
