<section class="section" id="equipe">
    <div class="container">
        <header class="section-header">
            <h1>Equipe</h1>
            <p>Quem faz acontecer</p>
        </header>

        <div class="row list template-artistas">
            <div class="col-xs-12 col-sm-4 col-md-4 col-lg-3 item" ng-repeat="item in members">
                <a href="javascript:;">
                    <figure class="ratio ratio-1-1">
                        <div class="content">
                            <img src="{{url}}public/upload/{{item.avatar}}" alt="{{item.name}}">
                        </div>
                    </figure>
                    <h3>{{item.name}}</h3>
                    <p>{{item.role}}</p>
                </a>
                <ul class="social">
                    <li ng-if="item.social.google_plus"><a href="{{item.social.google_plus}}" target="_blank"><i class="fa fa-google-plus"></i></a></li>
                    <li ng-if="item.social.twitter"><a href="http://www.twitter.com/{{item.social.twitter}}" target="_blank"><i class="fa fa-twitter"></i></a></li>
                    <li ng-if="item.social.facebook"><a href="{{item.social.facebook}}" target="_blank"><i class="fa fa-facebook"></i></a></li>
                    <li ng-if="item.social.instagram"><a href="http://www.instagram.com/{{item.social.instagram}}" target="_blank"><i class="fa fa-instagram"></i></a></li>
                    <li ng-if="item.social.skype"><a href="skype:{{item.social.skype}}?add" target="_blank"><i class="fa fa-skype"></i></a></li>
                    <li ng-if="item.social.soundcloud"><a href="http://www.soundcloud.com/{{item.social.soundcloud}}" target="_blank"><i class="fa fa-soundcloud"></i></a></li>
                </ul>
            </div>
        </div>
    </div>
</section>
