<section id="hotnews" class="section">
    <div class="container">
        <h1>Hotnews</h1>

        <div class="container-news container-with-arrow">
            <a href="javascript:;" id="arrow-hotnews-prev" class="arrow left disabled"><img src="{{url}}public/assets/images/arrow-left-news.png"></a>
            <div class="row news">
                <div class="col-xs-12" ng-class="item.new ? 'col-sm-6 col-md-6 col-lg-6 new' : 'col-sm-6 col-md-3 col-lg-3'" ng-repeat="item in news">
                    <a ui-sref="newsShow({ id: (item.id + '-' + item.url) })">
                        <figure><img src="{{url}}public/upload/{{item.image}}" alt="{{item.title}}"></figure>
                        <div class="content">
                            <span class="cat" style="background-color: {{item.category.color}}">{{item.category.title}}</span>
                            <h3>{{item.title}}</h3>
                            <p>{{item.description}}</p>
                        </div>
                    </a>
                </div>
            </div>
            <a href="javascript:;" id="arrow-hotnews-next" class="arrow right"><img src="{{url}}public/assets/images/arrow-right-news.png"></a>
        </div>
    </div>
</section>