<section id="agenda" class="section">
    <div class="container">
        <h1>Agenda</h1>
        <div class="top">
            <div class="row">
                <div class="col-xs-12 col-sm-4 col-md-3 col-lg-2">
                    <div class="select-style">
                        <select id="select-month">
                            <option>Janeiro</option>
                            <option>Fevereiro</option>
                        </select>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-8 col-md-9 col-lg-10">
                    <ul class="djs">
                        <li data-id="all"><a href="javascript:;">Todos</a></li>
                        <li data-id="1"><a href="javascript:;">Zerky</a></li>
                        <li data-id="2"><a href="javascript:;">Matheus Mingori</a></li>
                        <li data-id="3"><a href="javascript:;">Victor Lou</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>

    <div class="dates">
        <div class="container">
            <div class="date">
                <a href="javascript:;">
                    <time><span class="day">15</span><span class="month">/Fevereiro 2016</span></time>
                    <h2>Night Party</h2>
                    <p><i class="fa fa-map-marker"></i> Party Club House - Avenida Transnacional, S/N, Salvador, Bahia, Brasil.</p>
                    <button class="btn">Informações <i class="fa fa-angle-right"></i></button>
                </a>
            </div>
            <div class="date">
                <a href="javascript:;">
                    <time><span class="day">15</span><span class="month">/Fevereiro 2016</span></time>
                    <h2>Night Party</h2>
                    <p><i class="fa fa-map-marker"></i> Party Club House - Avenida Transnacional, S/N, Salvador, Bahia, Brasil.</p>
                    <button class="btn">Informações <i class="fa fa-angle-right"></i></button>
                </a>
            </div>
            <div class="date">
                <a href="javascript:;">
                    <time><span class="day">15</span><span class="month">/Fevereiro 2016</span></time>
                    <h2>Night Party</h2>
                    <p><i class="fa fa-map-marker"></i> Party Club House - Avenida Transnacional, S/N, Salvador, Bahia, Brasil.</p>
                    <button class="btn">Informações <i class="fa fa-angle-right"></i></button>
                </a>
            </div>
            <div class="date">
                <a href="javascript:;">
                    <time><span class="day">15</span><span class="month">/Fevereiro 2016</span></time>
                    <h2>Night Party</h2>
                    <p><i class="fa fa-map-marker"></i> Party Club House - Avenida Transnacional, S/N, Salvador, Bahia, Brasil.</p>
                    <button class="btn">Informações <i class="fa fa-angle-right"></i></button>
                </a>
            </div>
            <div class="date">
                <a href="javascript:;">
                    <time><span class="day">15</span><span class="month">/Fevereiro 2016</span></time>
                    <h2>Night Party</h2>
                    <p><i class="fa fa-map-marker"></i> Party Club House - Avenida Transnacional, S/N, Salvador, Bahia, Brasil.</p>
                    <button class="btn">Informações <i class="fa fa-angle-right"></i></button>
                </a>
            </div>
        </div>
    </div>
</section>
<!-- /#agenda -->

<section id="about" class="section">
    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-sm-7 col-md-7 col-lg-7">
                <h1>A HotCue</h1>
                <p>Agência de representação e gerenciamento de artistas, especializada em música eletrônica.</p>
                <h2>Missão</h2>
                <p>Nosso trabalho é aliado ao profissionalismo, transparência e seriedade, buscando a excelência na operação e desenvolvimento da cultura da música eletrônica no Brasil. Representamos uma equipe única de talentos para você e seu evento, que nos permite atender a demanda de todos os estilos musicais do qual seu público exige.</p>
            </div>
            <div class="col-xs-12 col-sm-5 col-md-5 col-lg-5 logo">
                <img src="{{imageDir}}assets/images/logo-rounded.png" alt="Sobre a HOTCUE">
            </div>
        </div>
    </div>
</section>
<!-- /#about -->

<section id="hotnews" class="section">
    <div class="container">
        <h1>Hotnews</h1>

        <div class="container-news container-with-arrow">
            <a href="javascript:;" class="arrow left disabled"><img src="{{imageDir}}assets/images/arrow-left-news.png"></a>
            <div class="row news">
                <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6 new">
                    <a href="javascript:;">
                        <figure><img src="{{imageDir}}assets/images/banner/1.jpg" alt="Evento HotCue é o mais badalado do Brasil"></figure>
                        <div class="content">
                            <span class="cat">HotCue</span>
                            <h3>Evento HotCue é o mais badalado do Brasil</h3>
                            <p>O evento que aconteceu no interior de São Paulo.</p>
                        </div>
                    </a>
                </div>
                <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3">
                    <a href="javascript:;">
                        <figure><img src="{{imageDir}}assets/images/banner/1.jpg" alt="Evento HotCue é o mais badalado do Brasil"></figure>
                        <div class="content">
                            <span class="cat">HotCue</span>
                            <h3>Evento HotCue é o mais badalado do Brasil</h3>
                            <p>O evento que aconteceu no interior de São Paulo.</p>
                        </div>
                    </a>
                </div>
                <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3">
                    <a href="javascript:;">
                        <figure><img src="{{imageDir}}assets/images/banner/1.jpg" alt="Evento HotCue é o mais badalado do Brasil"></figure>
                        <div class="content">
                            <span class="cat">HotCue</span>
                            <h3>Evento HotCue é o mais badalado do Brasil</h3>
                            <p>O evento que aconteceu no interior de São Paulo.</p>
                        </div>
                    </a>
                </div>
                <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3">
                    <a href="javascript:;">
                        <figure><img src="{{imageDir}}assets/images/banner/1.jpg" alt="Evento HotCue é o mais badalado do Brasil"></figure>
                        <div class="content">
                            <span class="cat">HotCue</span>
                            <h3>Evento HotCue é o mais badalado do Brasil</h3>
                            <p>O evento que aconteceu no interior de São Paulo.</p>
                        </div>
                    </a>
                </div>
                <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3">
                    <a href="javascript:;">
                        <figure><img src="{{imageDir}}assets/images/banner/1.jpg" alt="Evento HotCue é o mais badalado do Brasil"></figure>
                        <div class="content">
                            <span class="cat">HotCue</span>
                            <h3>Evento HotCue é o mais badalado do Brasil</h3>
                            <p>O evento que aconteceu no interior de São Paulo.</p>
                        </div>
                    </a>
                </div>
            </div>
            <a href="javascript:;" class="arrow right"><img src="{{imageDir}}assets/images/arrow-right-news.png"></a>
        </div>
    </div>
</section>