<div class="noticia">
    <div class="container">
        <section class="section">
            <div class="row">
                <div class="col-xs-12 col-sm-8 col-md-8 col-lg-8">
                    <a href="javascript:;" onclick="history.back()" class="back"><i class="fa fa-angle-left"></i> Voltar</a>
                    <h1>{{item.title}}</h1>
                    <p class="noticia-info">Por <strong>{{item.author}}</strong> às {{item.formatedDate}}. <span class="cat" style="background-color: {{item.category.color}}">{{item.category.title}}</span></p>
                    <div class="content" ng-bind-html="item.text"></div>
                    <div class="comments">
                        <h2>Comentários</h2>
                        <div dyn-fb-comment-box page-href="{{getLocation()}}" numposts="5"></div>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4 sidebar">
                    <ul>
                        <li class="header"><i class="fa fa-globe"></i> Últimas notícias</li>
                        <li ng-repeat="lastItem in item.lastNews">
                            <a ui-sref="newsShow({ id: (lastItem.id + '-' + lastItem.url) })">
                                {{lastItem.title}} <span class="wrap-cat"><span class="cat" style="background-color: {{lastItem.category.color}}">{{lastItem.category.title}}</span></span>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </section>
    </div>
</div>