<div class="select">
    <section id="top-select" class="section">
        <div class="container">
            <header class="section-header">
                <h1>Contratar artistas</h1>
                <p>Escolha os artistas, fazemos o resto por você!</p>
            </header>
        </div>
    </section>

    <section id="selected" class="section">
        <div class="container">
            <div class="message hidden text-center">
                <span class="text-message"></span>
                <div class="opt-buttons">
                    <button ng-click="getArtists()">Sim</button> <strong>OU</strong> <button ng-click="done()">Não</button>
                </div>
            </div>
            <div class="end-button-container clearfix hidden">
                <div class="pull-right opt-buttons">
                    <button ng-click="done()">Finalizar</button>
                </div>
            </div>
        </div>
        <div class="template-artistas">
            <div class="container">
                <div class="row">
                    <div class="item" ng-repeat="item in selected">
                        <a href="javascript:;">
                            <figure class="ratio ratio-1-1">
                                <div class="inner-mask"><div class="mask"><img src="{{url}}public/upload/{{item.image_black}}" alt="{{item.name}}"></div></div>
                                <div class="content">
                                    <img src="{{url}}public/upload/{{item.image}}" alt="{{item.name}}">
                                </div>
                            </figure>
                            <h3>{{item.name}}</h3>
                            <p>{{item.place}}.</p>
                        </a>
                        <a ng-click="removeArtist(item)" href="javascript:;" class="remove">
                            <img src="{{url}}public/assets/images/icon-remove-artist.png" alt="X"> <span>Remover da lista</span>
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <div id="form-select">
            <div class="container">
                <div class="opt-buttons pull-right">
                    <button ng-click="cancelRequest()">Fechar</button>
                </div>
                <div class="clearfix"></div>
                <header class="section-header">
                    <h1>Ótima escolha!</h1>
                    <p>Agora só precisamos de alguns dados seus.</p>
                </header>
                <form ng-submit="submitRequest()">
                    <div class="row">
                        <div class="col col-xs-12 col-sm-6 col-md-6 col-lg-6">
                            <input type="text" required name="name" class="field field-nome" placeholder="Nome completo">
                        </div>
                        <div class="col col-xs-12 col-sm-6 col-md-6 col-lg-6">
                            <input type="email" required name="email" class="field field-email" placeholder="E-mail">
                        </div>
                        <div class="col col-xs-12 col-sm-6 col-md-6 col-lg-6">
                            <input type="text" required name="phone" class="field field-telefone" placeholder="Telefone">
                        </div>
                        <br clear="all">
                        <div class="col col-xs-12 col-sm-6 col-md-6 col-lg-6">
                            <input type="text" required name="location" class="field field-localizacao" placeholder="Localização">
                        </div>
                        <div class="container-textarea pull-right col col-xs-12 col-sm-6 col-md-6 col-lg-6">
                            <textarea required name="obs" class="field field-mensagem" placeholder="Observações..."></textarea>
                        </div>
                        <div class="col col-xs-12 col-sm-12 col-md-12 col-lg-12">
                            <button class="pull-right field submit">Enviar</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </section>
    <!-- /#about -->

    <section id="more" class="section hidden">
        <div class="container">
            <header class="section-header">
                <p>Outros artistas para você escolher</p>
            </header>

            <section class="artistas-nacionais">
                <header class="section-header">
                    <h2 class="text-center">Artistas nacionais</h2>
                </header>
                <div class="row list template-artistas">
                    <div class="col-xs-12 col-sm-4 col-md-4 col-lg-3 item" ng-repeat="item in availablesArtistsNacional">
                        <a href="javascript:;" ng-click="addArtist(item)">
                            <figure class="ratio ratio-1-1">
                                <div class="inner-mask"><div class="mask"><img src="{{url}}public/upload/{{item.image_black}}" alt="{{item.name}}"></div></div>
                                <div class="content">
                                    <img src="{{url}}public/upload/{{item.image}}" alt="{{item.name}}">
                                </div>
                            </figure>
                            <h3>{{item.name}}</h3>
                            <p>{{item.place}}.</p>
                        </a>
                        <a title="Ir para perfil do artista" href="javascript:;" ng-click="goToProfile( (item.id + '-' + item.nameSlug) )" class="link-profile">
                            <i class="fa fa-share"></i>
                        </a>
                    </div>
                </div>
            </section>

            <section class="artistas-internacionais">
                <header class="section-header">
                    <h2 class="text-center">Artistas internacionais</h2>
                </header>
                <div class="row list template-artistas">
                    <div class="col-xs-12 col-sm-4 col-md-4 col-lg-3 item" ng-repeat="item in availablesArtistsInternacional">
                        <a href="javascript:;" ng-click="addArtist(item)">
                            <figure class="ratio ratio-1-1">
                                <div class="inner-mask"><div class="mask"><img src="{{url}}public/upload/{{item.image_black}}" alt="{{item.name}}"></div></div>
                                <div class="content">
                                    <img src="{{url}}public/upload/{{item.image}}" alt="{{item.name}}">
                                </div>
                            </figure>
                            <h3>{{item.name}}</h3>
                            <p>{{item.place}}.</p>
                        </a>
                        <a title="Ir para perfil do artista" href="javascript:;" ng-click="goToProfile( (item.id + '-' + item.nameSlug) )" class="link-profile">
                            <i class="fa fa-share"></i>
                        </a>
                    </div>
                </div>
            </section>
        </div>
    </section>
</div>