{% if field.element == "long_input" %}
	<input type="text" name="field_{{ field.parameter.param_campo }}" id="field_{{ field.parameter.param_campo }}" size="30" {{ field.required ? "required" : null }} {{ field.size is null or field.size <= 0 ? null : " maxlength=#{field.size}" }} class="form-control" value="{{ record_data[ field.parameter.param_campo ] }}">
{% elseif field.element == "short_input" %}
	<input type="text" name="field_{{ field.parameter.param_campo }}" id="field_{{ field.parameter.param_campo }}" {{ field.required ? "required" : null }} {{ field.size is null or field.size <= 0 ? null : " maxlength=#{field.size}" }} class="form-control" value="{{ record_data[ field.parameter.param_campo ] }}">
{% else %}
	<textarea name="field_{{ field.parameter.param_campo }}" id="field_{{ field.parameter.param_campo }}" rows="4" {{ field.required ? "required" : null }} {{ field.size is null or field.size <= 0 ? null : " maxlength=#{field.size}" }} class="form-control">{{ record_data[ field.parameter.param_campo ] }}</textarea>
{% endif %}