{% extends "layout/app.html" %}

{% block title %}Avisos {% if reports|length > 0 %}({{ reports|length }}){% endif %}{% endblock %}

{% block content %}
	<section class="content">
		{% for report in reports %}
			<div class="box box-default">
	            <div class="box-header with-border">
	             	<h3 class="box-title">{{ report.avi_titulo }}</h3>
	            </div>
	            <div class="box-body">{{ report.avi_aviso|raw }}</div>
	        </div>
		{% else %}
			<div class="box box-default color-palette-box">
	            <div class="box-header with-border">
	             	<h2>Nenhum aviso para voc&ecirc;.</h2>
	            </div>
	        </div>
		{% endfor %}
	</section>
{% endblock %}