<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width">
    <title>HotCue.com.br!</title>
    <style type="text/css" media="screen">
        body, p{margin:0; padding:0; margin-bottom:0; -webkit-text-size-adjust:none; -ms-text-size-adjust:none;} p{margin:20px 0;} img{line-height:100%; outline:none; text-decoration:none; -ms-interpolation-mode: bicubic;} a img{border: none;} a, a:link{color:#2A5DB0; text-decoration: underline;} table td {border-collapse:collapse;} sup{position: relative; top: 4px; line-height:7px !important;font-size:11px !important;} .mobile_link a[href^="tel"], .mobile_link a[href^="sms"] {text-decoration: default; color: #a9a9a9 !important; /* set link color */ pointer-events: auto; cursor: default;} .no-detect a{text-decoration: none; color: #666; /* set text color */ pointer-events: auto; cursor: default;} .no-detect-local a{color: #a9a9a9;} span {color: inherit; border-bottom: none;} span:hover { background-color: transparent; }

        /* Base CSS */
        @media only screen and (max-width: 710px) {
            td[class="main_cta"],  table[class="main_cta"] { width:100% !important; padding: 0 10px; }
            table[class="header-wrp"]{ width: 100% !important;}
            a[class="banner-img"] img, a[class="banner-img"] { width:100% !important; height: auto !important; padding:0;}
            table[class="header-hd"], td[class="header-hd"] {width:0 !important;}
            h1[class="title"] {font-size: 26px !important;}
            td[class="td-hd"] {background: #fff !important;}
            img[class="logo"], td[class="td-logo"] {width: 150px !important; height: auto !important;}
            img[class="ico-social"] {margin-right: 15px !important;}
        }
    </style>
</head>


<body style="background: #fff;font-family:Arial, Helvetica, sans-serif; font-size:12px;">

    <table width="100%" cellspacing="0" cellpadding="0" border="0" valign="top" style="background:#EEEEF2;">
        <tr>
            <td class="wrap" align="center" valign="top" style="background:#EEEEF2;" width="100%">

                <table cellpadding="0" cellspacing="0" class="main_cta" width="700">
                    <tr>
                        <td width="10">
                        </td>
                        <td class="main_cta" style="padding-top: 35px; padding-bottom: 40px;">
                           <table cellspacing="0" cellpadding="0" border="0" width="100%">
                            <tr>
                            <td width="210" align="left" class="td-logo">
                                <a style="color: black;" href="{{base}}"><img src="{{base}}/public/assets/images/logo.png" class="logo" alt="HotCue" style="display: block; font-family: Arial, sans-serif; font-size: 20px; color: #fff; border:0;"></a>
                            </td>
                            <td align="right">
                            </td>
                            </tr>
                            </table>
                        </td>
                        <td width="10">
                        </td>
                    </tr>
                </table>
                <table cellpadding="0" cellspacing="0" class="main_cta" width="700" style="background:#e74c3c;-webkit-border-top-left-radius: 5px; -webkit-border-top-right-radius: 5px; -moz-border-radius-topleft: 5px; -moz-border-radius-topright: 5px; border-top-left-radius: 5px; border-top-right-radius: 5px;">
                    <tr>
                        <td width="2" style="background:#e1e1e1;"></td>
                        <td width="40">
                        </td>
                        <td class="main_cta">
                            <table cellspacing="0" cellpadding="0" border="0" width="100%">
                                <tr>
                                    <td class="header-lf" align="left">
                                        <span class="title" style="font-family: Arial, sans-serif; margin-top: 45px; margin-bottom: 45px; display:block; font-size: 30px; color: #fff; text-transform: uppercase; font-weight: normal;"><strong>Contato</strong></span>
                                    </td>
                                    <td width="100" align="right" class="header-rt">
                                    </td>
                                </tr>
                            </table>
                        </td>
                        <td width="40"></td>
                        <td width="2" style="background:#e1e1e1;"></td>
                    </tr>
                </table>
                <table cellpadding="0" cellspacing="0" class="main_cta" width="700" style="background:#ffffff;">
                    <tr>
                        <td width="2" style="background:#e1e1e1;"></td>
                        <td width="40">
                        </td>
                        <td class="main_cta" style="padding-top: 20px; padding-bottom: 10px; text-align:left;">

                        </td>
                        <td width="40">
                        </td>
                        <td width="2" style="background:#e1e1e1;"></td>
                    </tr>
                </table>
            </td>
        </tr>
    </table>

<table width="100%" cellspacing="0" cellpadding="0" border="0" style=" line-height: 170%;">
    <tr>
        <td class="wrap" align="center" valign="top" style="background:#FBFBFB;" width="100%">
            <table cellpadding="0" cellspacing="0" class="main_cta" width="700" style="background: #ffffff;">
                <tr>
                    <td width="2" style="background:#e1e1e1;"></td>
                    <td width="40"></td>
                    <td class="main_cta" style="padding-top: 0; padding-bottom:20px; text-align: left; font-size:14px; font-family: Arial, sans-serif; color: #666;">
                        <h1 style="font-family: arial,sans-serif; font-size: 26px; line-height: 120%;font-weight: normal; color: #545454; margin-top: 15px; margin-bottom:10px; text-transform: uppercase;">
                           Assunto: {{fields.assunto}}
                        </h1>
                        
                        <!-- Espaço para o conteúdo -->
                        <div style="padding: 10px 0;">
                            <p><strong>Nome:</strong> {{fields.nome}}</p>
                            <p><strong>Email:</strong> {{fields.email}}</p>
                            <p><strong>Telefone:</strong> {{fields.telefone}}</p>
                            <p><strong>Mensagem:</strong> <br>{{fields.mensagem}}</p>
                        </div>
                        <!-- Fim do espaço para o conteúdo -->
                        
                        <!-- Assinatura -->
                        <p style="font-family: Arial, sans-serif; color: #666; font-size: 14px; margin-bottom: 10px;">
                            Um abraço,<br/>
                            <strong style="font-size:20px; margin-top: 5px; display: block;">Equipe HotCue</strong>
                        </p>
                    </td>
                    <td width="40"></td>
                    <td width="2" style="background:#e1e1e1;"></td>
                </tr>
            </table>
            <table cellpadding="0" cellspacing="0" class="main_cta" width="700" style="background: #ffffff;-webkit-border-bottom-left-radius: 5px; -webkit-border-bottom-right-radius: 5px; -moz-border-radius-bottomleft: 5px; -moz-border-radius-bottomright: 5px; border-bottom-left-radius: 5px; border-bottom-right-radius: 5px; font-size: 0;">
                <tr>
                    <td class="td-hd" width="100%" height="2" style="background:#e1e1e1;-webkit-border-bottom-left-radius: 5px; -webkit-border-bottom-right-radius: 5px; -moz-border-radius-bottomleft: 5px; -moz-border-radius-bottomright: 5px; border-bottom-left-radius: 5px; border-bottom-right-radius: 5px;"></td>
                </tr>
            </table>
            <table cellpadding="0" cellspacing="0" class="main_cta" width="700" style="margin-top: 20px; padding-bottom: 20px;">
                <tr>
                    <td width="10">
                    </td>
                    <td style="text-align: left;">
                        <p style="font-family: Arial, sans-serif; font-size: 12px; line-height: 130%; color: #666;">
                            <a href="http://www.hotcue.com.br" target="_blank">http://www.hotcue.com.br/</a><br/>
                            contato@hotcue.com.br
                        </p>
                    </td>
                    <td width="200" align="right" class="td-logo">
                        <a style="color: black;" href="http://www.ooppah.com.br">
                            <img src="{{base}}/public/assets/images/logo.png" class="logo-ooppah" alt="HotCue" style="font-family: Arial, sans-serif; font-size: 20px; color: #666;border:0; display:block;">
                        </a>
                    </td>
                    <td width="10">
                    </td>
                </tr>
            </table>

        </td>
    </tr>
</table>
</body>
</html>