<form action="{{ base }}/module/{{ module.tab_id }}/{{ record[ primary_key ] }}" method="post" style="display: inline-block">
	<input type="hidden" name="_method" value="PUT">
	<input type="hidden" name="action_type" value="editar_lista">
	<input type="hidden" name="param_type" value="order_toggle">
	<input type="hidden" name="after_action" value="list">
	<input type="hidden" name="id_record" value="{{ record[ primary_key ] }}">
	<input type="hidden" name="redirect" value="{{ base }}/module/{{ module.tab_id }}/page/{{current_page}}{{ query_string.all }}">

	{{ inputs|raw }}
</form>