{% if total_records_page > 1 %}
	{% if index == 0 %}
		{% set inputs = '<button type="button" class="btn bg-purple ordem-down"><i class="fa fa-arrow-down"></i></button>' %}
		{% include "parameter/#{field.parameter.param_tp_nome}/_form_list.html" %}
	{% elseif index == (total_records_page - 1) %}
		{% set inputs = '<button type="button" class="btn bg-purple ordem-up"><i class="fa fa-arrow-up"></i></button>' %}
		{% include "parameter/#{field.parameter.param_tp_nome}/_form_list.html" %}
	{% else %}
		{% set inputs = '<button type="button" class="btn bg-purple ordem-down"><i class="fa fa-arrow-down"></i></button>' %}
		{% include "parameter/#{field.parameter.param_tp_nome}/_form_list.html" %}

		{% set inputs = '<button type="button" class="btn bg-purple ordem-up"><i class="fa fa-arrow-up"></i></button>' %}
		{% include "parameter/#{field.parameter.param_tp_nome}/_form_list.html" %}
	{% endif %}
{% else %}
	{{app.vektor.placeholder_empty}}
{% endif %}
