<!DOCTYPE html>
<html lang="pt-br" ng-app="app">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <meta property="description" content="Agência de representação e gerenciamento de artistas especializada em música eletrônica." />
    <meta property="og:locale" content="pt_BR" />
    <meta property="og:type" content="website" />
    <meta property="og:title" content="Página Inicial - HotCue" />
    <meta property="og:description" content="Agência de representação e gerenciamento de artistas especializada em música eletrônica." />
    <meta property="og:url" content="http://hotcue.com.br/" />
    <meta property="og:site_name" content="HotCue" />
    <meta property="og:image" content="http://hotcue.com.br/wp-content/uploads/2015/07/siteagencia.jpg" />
    <meta name="twitter:card" content="summary"/>
    <meta name="twitter:description" content="Agência de representação e gerenciamento de artistas especializada em música eletrônica."/>
    <meta name="twitter:title" content="Página Inicial - HotCue"/>
    <meta name="twitter:site" content="@hotcuebr"/>
    <meta name="twitter:domain" content="HotCue"/>
    <meta name="twitter:image" content="http://hotcue.com.br/wp-content/uploads/2015/07/siteagencia.jpg"/>
    <meta name="twitter:creator" content="@hotcuebr"/>
    
    <title>Hotcue.com.br</title>

    <base href="{{base}}/">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="{{base}}/public/assets/css/bootstrap.min.css">
    <link rel="stylesheet" href="{{base}}/public/assets/css/jquery.fs.boxer.min.css">
    <link rel="stylesheet" href="{{base}}/public/assets/css/style.css">
</head>
<body>
    <header id="header" class="navbar">
        <div class="navbar-header">
            <div class="container">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target=".navbar-collapse" aria-expanded="false">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a ui-sref="home" class="navbar-brand"><img src="{{base}}/public/assets/images/logo.png" alt="HotCue"></a>
            </div>
        </div>
        <div class="collapse navbar-collapse">
            <div class="container">
                <nav>
                    <ul class="nav navbar-nav menu">
                        <li><a ui-sref="home">A hotcue</a></li>
                        <li><a ui-sref="agenda">Agenda</a></li>
                        <li><a ui-sref="artistasNacionais">Artistas nacionais</a></li>
                        <li><a ui-sref="artistasInternacionais">Artistas internacionais</a></li>
                        <li><a ui-sref="equipe">Equipe</a></li>
                        <li><a ui-sref="news">Hotnews</a></li>
                        <li><a ui-sref="contato">Contato</a></li>
                    </ul>
                </nav>
                <nav>
                    <ul class="nav navbar-nav social">
                        <li><a href="{{site_options.google}}" target="_blank"><i class="fa fa-google-plus"></i></a></li>
                        <li><a href="http://www.twitter.com/{{site_options.twitter}}" target="_blank"><i class="fa fa-twitter"></i></a></li>
                        <li><a href="{{site_options.facebook}}" target="_blank"><i class="fa fa-facebook"></i></a></li>
                    </ul>
                </nav>
            </div>
        </div>
    </header>

    <main class="main">
        <section id="banner">
            <div class="cycle-slideshow" data-cycle-fx="fade" data-cycle-timeout="0" data-cycle-slides="> a" data-cycle-prev="#banner .arrow-banner.left" data-cycle-next="#banner .arrow-banner.right">
                {% for banner in banners %}
                    <a href="{{banner.url}}" target="_blank"><img src="{{base}}/public/upload/{{banner.image}}" alt="{{banner.title}}"></a>
                {% endfor %}
            </div>
            <!-- /.cycle-slideshow -->

            <div class="container paging">
                <a href="javascript:;" class="arrow-banner left"><img src="{{base}}/public/assets/images/arrow-left-banner.png"></a></a>
                <a href="javascript:;" class="arrow-banner right"><img src="{{base}}/public/assets/images/arrow-right-banner.png"></a></a>
            </div>
        </section>
        <!-- /#banner -->

        <div id="site-content" class="home" ui-view name="content"></div>
    </main>

    <footer id="footer">
        <section class="newsletter">
            <div class="container">
                <div class="row">
                    <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4"><h1>Newsletter</h1></div>
                    <div class="col-xs-12 col-sm-12 col-md-8 col-lg-8">
                        <form ng-submit="submitNewsletterForm()" class="form" id="form-newsletter">
                            <div class="row">
                                <div class="col-xs-12 col-sm-4 col-md-12 col-lg-4">
                                    <input type="text" class="field-form field-nome" placeholder="Seu nome">
                                </div>
                                <div class="col-xs-12 col-sm-5 col-md-8 col-lg-5">
                                    <input type="email" class="field-form field-email" placeholder="Seu e-mail">
                                </div>
                                <div class="col-xs-12 col-sm-3 col-md-4 col-lg-3">
                                    <button class="submit">Assinar <i class="fa fa-angle-right"></i></button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </section>
        <section class="address">
            <div class="container">
                <div class="row">
                    <div class="col-xs-12 col-sm-5 col-md-5 col-lg-4">
                        <h3>Endereço</h3>
                        <p>{{site_options.address|nl2br}}</p>
                    </div>
                    <div class="col-xs-12 col-sm-3 col-md-3 col-lg-3">
                        <h3>Telefones</h3>
                        <p>{{site_options.phones|nl2br}}</p>
                    </div>
                    <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
                        <h3>Email</h3>
                        <p>{{site_options.admin_email}}</p>
                    </div>
                </div>
            </div>
        </section>
        <section class="signature">
            <div class="container">
                <span class="pull-left">© 2016 <strong>HOT CUE Booking Agency</strong> - Todos direitos reservados.</span>
                <span class="pull-right">
                    Design by <a href="" target="_blank">Tarcísio Novais</a>.<br>
                    Desenvolvido por <a href="http://www.harpiadev.com.br" target="_blank">Harpia Desenvolvimento</a>.
                </span>
            </div>
        </section>
    </footer>

    <div id="fb-root"></div>
    <script>(function(d, s, id) {
      var js, fjs = d.getElementsByTagName(s)[0];
      if (d.getElementById(id)) return;
      js = d.createElement(s); js.id = id;
      js.src = "//connect.facebook.net/pt_BR/sdk.js#xfbml=1&version=v2.5";
      fjs.parentNode.insertBefore(js, fjs);
    }(document, 'script', 'facebook-jssdk'));</script>

    <!-- scripts -->
    <script>var Site = { url: "{{base}}/", templates: "{{base}}/public/templates/" };</script>
    <script src="{{base}}/public/assets/js/jquery.min.js"></script>
    <script src="{{base}}/public/assets/js/angular.min.js"></script>
    <script src="{{base}}/public/assets/js/angular-ui-router.min.js"></script>
    <script src="{{base}}/public/assets/js/angular-sanitize.js"></script>
    <script src="{{base}}/public/assets/js/jquery.fs.boxer.min.js"></script>
    <script src="{{base}}/public/assets/js/script.js"></script>
    <script src="{{base}}/public/assets/js/app.js"></script>
    <script src="{{base}}/public/assets/js/controllers.js"></script>
    <script src="{{base}}/public/assets/js/factories.js"></script>
    <script src="{{base}}/public/assets/js/bootstrap.min.js"></script>
    <script src="{{base}}/public/assets/js/jquery.cycle2.min.js"></script>
    <script src="{{base}}/public/assets/js/jquery.cycle2.carousel.min.js"></script>
</body>
</html>