@font-face {
    font-family: 'Montserrat';
    src: url('../fonts/montserrat/regular/montserrat-regular.eot');
    src: url('../fonts/montserrat/regular/montserrat-regular.eot?#iefix') format('embedded-opentype'),
         url('../fonts/montserrat/regular/montserrat-regular.woff2') format('woff2'),
         url('../fonts/montserrat/regular/montserrat-regular.woff') format('woff'),
         url('../fonts/montserrat/regular/montserrat-regular.ttf') format('truetype'),
         url('../fonts/montserrat/regular/montserrat-regular.svg#Montserrat') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Montserrat';
    src: url('../fonts/montserrat/light/montserrat-light.eot');
    src: url('../fonts/montserrat/light/montserrat-light.eot?#iefix') format('embedded-opentype'),
         url('../fonts/montserrat/light/montserrat-light.woff2') format('woff2'),
         url('../fonts/montserrat/light/montserrat-light.woff') format('woff'),
         url('../fonts/montserrat/light/montserrat-light.ttf') format('truetype'),
         url('../fonts/montserrat/light/montserrat-light.svg#Montserrat') format('svg');
    font-weight: 200;
    font-style: normal;
}

@font-face {
    font-family: 'Montserrat';
    src: url('../fonts/montserrat/bold/montserrat-bold.eot');
    src: url('../fonts/montserrat/bold/montserrat-bold.eot?#iefix') format('embedded-opentype'),
         url('../fonts/montserrat/bold/montserrat-bold.woff2') format('woff2'),
         url('../fonts/montserrat/bold/montserrat-bold.woff') format('woff'),
         url('../fonts/montserrat/bold/montserrat-bold.ttf') format('truetype'),
         url('../fonts/montserrat/bold/montserrat-bold.svg#Montserrat') format('svg');
    font-weight: bold;
    font-style: normal;
}