@import "normalize.css";
@import "colors.less";
@import "typography.less";
@import "helpers.less";

/* ==========================================================================
   BOOTSTRAP MEASURES
   ==========================================================================
   Phones                    < 768px
   Small Devices (Tablets)   >= 768px
   Medium Devices (Desktops) >= 992px
   Large Devices (Desktops)  >= 1200px
   ========================================================================== */

/* ==========================================================================
   STRUCTURE E APPEARANCE
   ========================================================================== */

/* Wrappers
   ========================================================================== */

body {
    font-family: "Montserrat", "Helvetica", Helvetica, Tahoma, sans-serif;
}
.container { .relative; }

/* Social
   ========================================================================== */

.social {
    li {
        float: left;
        margin-left: 9px;

        a {
            display: block;
            width: 37px;
            height: 37px;
            padding: 0;
            border: 1px solid @red;
            line-height: 37px;
            .border-radius(100%);
            .text-center;
            font-size: 0;
            color: @red !important;
            background-color: transparent !important;
            .transition(all, .2s, ease-in);

            &:hover {
                color: #fff !important;
                background-color: @red !important;
            }

            .fa {
                vertical-align: middle;
                font-size: 18px;
            }
        }
    }
}

/* Header
   ========================================================================== */

#header {
    margin-bottom: 0;

    .navbar-header {
        height: 80px;
        float: none;
        padding-top: 18px;
        .text-center;

        .navbar-brand {
            height: auto;
            float: none;
            padding: 0;
            display: inline-block;

            img { display: inline; }
        }
        .navbar-toggle {
            margin: 9px 0 0 5px;
            padding: 0; 

            .icon-bar {
                width: 28px;
                height: 3px;
                background-color: @red;

                &+.icon-bar { margin-top: 5px; }
            }
        }
    }
    .navbar-collapse {
        padding: 0 !important;
        border-top: 1px solid #F2F2F2;
        background-color: #F8F8F8;

        .navbar-nav {
            float: none;

            &.menu {
                display: table;
                margin: 12px auto 0 auto;

                li {
                    margin: 0 5px;

                    &.active a {
                        border: 1px solid @red;
                        color: @red;
                    }
                    a {
                        padding: 5px 20px;
                        border: 1px solid transparent;
                        .border-radius(25px);
                        letter-spacing: 1px;
                        text-transform: uppercase;
                        color: #0B0C0D;
                        background-color: transparent !important;
                        font-size: 14px;
                        font-weight: 200;
                        .transition(all, .2s, ease-in);

                        &:hover {
                            border: 1px solid @red;
                            color: @red;
                        }
                    }
                }
            }
            &.social {
                .absolute;
                top: -60px;
                right: 0;
            }
        }
    }
}

@media(min-width: 992px) {
    #header {
        .navbar-collapse {
            height: 58px !important;
        }
    }
}

@media(max-width: 1200px) {
    #header {
        .navbar-collapse {
            .navbar-nav.menu li a {
                padding: 5px 12px;
                letter-spacing: 0;
            }
        }
    }
}

@media(max-width: 992px) {
    #header {
        .navbar-header .navbar-toggle { display: block; }
        .navbar-collapse {
            height: auto;
            padding: 6px 0 !important;

            &.collapse {
                display: none !important;

                &.in { display: block !important; }
            }

            .navbar-nav {
                &.menu {
                    width: 100%;
                    display: block;
                    margin: 0;

                    li {
                        margin: 5px 0 0 0;
                        float: none;

                        &:first-child { margin-top: 0; }
                        a {
                            display: block;
                            padding: 10px 15px;
                        }
                    }
                }
                &.social {
                    .relative;
                    top: 0;
                    right: 0;
                    margin: 5px 0 0 0;
                    width: 100%;
                    display: table;
                    border: 1px solid @red;
                    .border-radius(5px);
                    overflow: hidden;

                    li {
                        display: table-cell;
                        width: 33.3333%;
                        margin: 0;

                        a {
                            width: 100%;
                            height: 42px;
                            line-height: 42px;
                            display: block;
                            .border-radius(0);
                            border: none;
                            background-color: @red !important;
                            color: #fff !important;

                            &:hover {
                                background-color: transparent !important;
                                color: @red !important;
                            }
                        }
                    }
                }
            }
        }
    }
}

@media(max-width: 768px) {
    #header { }
}

/* Footer
   ========================================================================== */

#footer {
    width: 100%;
    border-top: 3px solid #E8E8E8;

    .newsletter {
        width: 100%;
        padding: 25px 0;
        border-bottom: 1px solid #E8E8E8;
        background-color: #f8f8f8;

        h1 { margin: 0; }
        #form-newsletter {
            input,
            button {
                width: 100%;
                display: block;
                outline: none;
                border: 1px solid #000;
                .border-radius(20px);
                padding: 10px 25px;
                font: inherit;
                color: #000;
                background-color: transparent;

                &::-webkit-input-placeholder {
                   font-style: italic;
                   color: #000;
                   font-size: 13px;
                }
                &:-moz-placeholder {
                   font-style: italic;
                   color: #000;
                   font-size: 13px;
                }
                &::-moz-placeholder {
                   font-style: italic;
                   color: #000;
                   font-size: 13px;
                }
                &:-ms-input-placeholder {  
                   font-style: italic;
                   color: #000;
                   font-size: 13px;
                }
            }
            button {
                text-align: left;

                .fa {
                    .absolute;
                    right: 30px;
                    top: 9px;
                    font-size: 22px;
                }
            }
            #nome-newsletter { margin-bottom: 20px; }
        }
    }
    .address {
        padding: 20px 0;
        background-color: #f8f8f8;
        border-bottom: 1px solid #E8E8E8;

        h3 { margin-bottom: 10px; }
        p { margin-bottom: 0; }
    }
    .signature {
        padding: 20px 0;
        font-size: 13px;

        a {
            font-weight: bold;
            color: @red;
        }
    }
}

@media (max-width: 1200px) {
    #footer {}
}

@media (max-width: 768px) {
    #footer {
        & > section { .text-center;}
        .newsletter {
            .text-center;
            h1 { margin-bottom: 30px; }
        }
        .address {
            .row > div { margin-bottom: 20px; }
        }
        .signature {
            
            span { 
                display: block;
                float: none !important;
                line-height: 32px;

                &:first-child { line-height: normal; }
            }
        }
    }
}

/* Formulário
   ========================================================================== */


.formulario {
}

/* Container with arrow
   ========================================================================== */

.container-with-arrow {
    .relative;
    width: 100%;
    padding: 0 35px;

    .arrow {
        .absolute;
        top: 50%;
        margin-top: -20px;

        &.disabled { 
            opacity: .5;
            cursor: default;
            pointer-events: none;
        }
        &.left { left: 0; }
        &.right { right: 0; }
    }
}

/* Banner
   ========================================================================== */

#banner {
    .relative;
    width: 100%;
    height: 554px;
    border-top: 4px solid @red;

    .cycle-slideshow {
        .absolute !important;
        z-index: 0;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        overflow: hidden;

        a {
            .relative;
            display: block;
            width: 100%;
            height: 550px;
            overflow: hidden;

            img {
                .absolute;
                left: 50%;
                margin-left: -2000/2px;
                max-width: none;
            }
        }
    }
    .paging {
        .arrow-banner {
            .absolute;
            top: 240px;

            &.left { left: 0; }
            &.right { right: 0; }
        }
    }
}

@media (max-width: 768px) {
    #banner {
        height: 254px;

        .cycle-slideshow {
            a {
                height: 254px;
            }
        }
        .paging {
            .arrow-banner {
                top: 100px;
                padding: 0 10px;

                img { width: 28px; }
            }
        }
    }
}

/* Section
   ========================================================================== */

.section {
    padding: 30px 0 40px 0;

    h1 { .text-center; }
}

/* ==========================================================================
   PAGE CONTENT
   ========================================================================== */

/* Página inicial
   ========================================================================== */

.home {
    #agenda {
        padding-bottom: 0;
        background: #f5f5f5 url( '../images/background-agenda-home.jpg' ) no-repeat center;

        .top {
            .select-style {
                .relative;
                width: 100%;
                padding: 0;
                .border-radius(8px);
                overflow: hidden;
                border: 1px solid @red;
                .text-center;
                letter-spacing: 1px;
                color: @red;
                background: url( '../images/arrow-down-select.png' ) no-repeat right 10px center;
            }
            .select-style select {
                padding: 10px;
                width: 130%;
                border: none;
                box-shadow: none;
                .uppercase;
                background-color: transparent;
                background-image: none;
                -webkit-appearance: none;
                   -moz-appearance: none;
                        appearance: none;
            }
            .select-style select:focus { outline: none; }
            .djs {
                display: table;
                margin: 0 auto;

                li {
                    display: inline-block;
                    margin: 0 20px;

                    &.active {
                        a {
                            color: @red;
                        }
                    }
                    a {
                        &:after,
                        &:before {
                            .absolute;
                            opacity: 0;
                            .transition(all, .2s, ease-in);
                        }

                        &:after {
                            content: ']';
                            right: -40px;
                        }
                        &:before {
                            content: '[';
                            left: -40px;
                        }
                        &:hover {
                            &:after, &:before { opacity: 1; color: @red; }
                            &:after { right: -15px; }
                            &:before { left: -15px; }

                            color: @red;
                        }

                        .relative;
                        display: block;
                        padding: 12px 0;
                        letter-spacing: 1px;
                        .uppercase;
                        color: #545454;
                    }
                }
            }
        }
        .dates {
            width: auto;
            margin-top: 20px;
            overflow-x: scroll;
            overflow-y: hidden;
            white-space: nowrap;

            &::-webkit-scrollbar {
                width: 12px;
            }
             
            &::-webkit-scrollbar-track {
                background-color: #DFDFDF;
            }
             
            &::-webkit-scrollbar-thumb {
                background-color: @red;
            }
            .date {
                width: 300px;
                height: 320px;
                display: inline-block;
                margin-right: 15px;

                a {
                    white-space: normal;
                    p, h2, .btn { .transition(all, .2s, ease-in); }
                }
                a:hover {
                    p { color: #000; }
                    h2 { color: @red; }
                    .btn {
                        background-color: @red !important;
                        border-color: @red;
                        color: #fff;
                    }
                }
                time {
                    color: #555;
                    font-weight: 200;

                    .day {
                        margin-right: 5px;
                        font-size: 46px;
                    }
                }
                h2 { margin-bottom: 15px; }
                p {
                    .relative;
                    padding-left: 20px;
                    color: #737373;

                    .fa {
                        .absolute;
                        top: 0;
                        left: 0;
                        font-size: 20px;
                    }
                }
                .btn {
                    border: 1px solid #747474;
                    padding: 6px 10px;
                    .uppercase;
                    letter-spacing: 1px;
                    .border-radius(6px);
                    color: #747474;
                    .box-shadow(none) !important;
                    background-color: transparent !important;

                    .fa {
                        .relative;
                        top: -1px;
                        margin: 0 8px 0 5px;
                        vertical-align: middle;
                        font-size: 20px;
                    }
                }
            }
        }
    }
    #about {
        background: rgb(242,202,39);
        background: -moz-linear-gradient(-45deg, rgba(242,202,39,1) 0%, rgba(231,76,60,1) 100%);
        background: -webkit-linear-gradient(-45deg, rgba(242,202,39,1) 0%,rgba(231,76,60,1) 100%);
        background: linear-gradient(135deg, rgba(242,202,39,1) 0%,rgba(231,76,60,1) 100%);
        color: #fff;

        h1, h2, p {
            text-align: left;
            color: inherit;
            text-shadow: 0 1px 2px rgba(0,0,0,.3);
        }
        h1, h2 { margin: 30px 0 15px 0; }
        p {
            font-size: 17px;
            font-weight: 200;
        }
        .logo { margin-top: 20px; }
    }
    #hotnews {
        .container-news {
            .news {
                margin-left: -1px;
                margin-right: -1px;

                & > div {
                    padding: 1px;

                    &.new {
                        a {
                            height: 342px;

                            .content {
                                padding: 15px;

                                h3 { font-size: 24px; }
                            }
                        }
                    }
                    a {
                        .relative;
                        display: block;
                        height: 170px;
                    }
                    figure {
                        .absolute;
                        z-index: -1;
                        width: 100%;
                        height: 100%;
                        overflow: hidden;

                        img {
                            height: 100%;
                        }
                    }
                    .content {
                        padding: 10px;
                        color: #fff;

                        .cat {
                            padding: 5px;
                            .border-radius(5px);
                            background-color: #E64C3B;
                            color: #fff;
                            .uppercase;
                            font-size: 11px;
                        }
                        h3, p {
                            text-shadow: 0 0 2px rgba(0,0,0,.4);
                        }
                        h3 {
                            margin-top: 10px;
                            font-size: 18px;
                            color: inherit;
                        }
                        p { margin-top: 8px; }
                    }
                }
            }
        }
    }
}

@media (max-width: 768px) {
    .home {
        #agenda {
            .top {
                .djs { margin-top: 10px; }
            }
            .dates { border-top: 1px solid #ccc; }
        }
        #hotnews {
            .container-news {
                .news {
                    & > div.new { 
                        a {
                            height: 240px; 

                            .content {
                                h3 { font-size: 22px; }
                            }
                        }
                    }
                }
            }
        }
    }
}

/* Artista
   ========================================================================== */

.artista {
    padding: 50px 0 0 0;

    .section { padding: 20px 0; }
    h2 { margin-bottom: 20px; }
    #profile {
        .text-center;

        figure {
            width: 100%;
            max-width: 300px;
            margin: 0 auto;
            border: 1px solid #000;
            .border-radius(100%);
            
            img {
                width: 100%;
                height: 100%;
                padding: 10px;
                .border-radius(100%);
            }
        }
        .buttons { margin-top: -20px; }
        .solicitar-pedido {
            .relative;
            display: inline-block;
            padding: 11px 60px 10px 22px;
            .border-radius(22px);
            background-color: #0B0C0F;
            color: #fff;
            .uppercase;
            font-size: 18px;

            span {
                .absolute;
                top: 2px;
                right: 2px;
                width: 42px;
                height: 42px;
                display: inline-block;
                color: #000;
                .text-center;
                line-height: 42px;
                font-size: 0;
                .border-radius(100%);
                background-color: #fff;

                .fa {
                    font-size: 24px;
                    vertical-align: middle;
                }
            }
        }
    }
    #info {
        .name {
            h1, p { margin: 0; }
            p {
                .uppercase;
                letter-spacing: 1px;
                .text-center;
            }
        }
    }
    #videos {
        margin-top: 30px;

        #iframe-video {
            width: 100%;

            iframe { border: none; }
        }
    }
    #fotos {
        h2 { .text-center; }
        .container-fotos {
            .item {
                width: 260px;
                height: 180px;
                display: block;
                overflow: hidden;

                img { 
                    height: 100%;
                    padding: 0 5px;
                }
            }
        }
    }
    #social {
        .social {
            li { margin: 0 9px 10px 0; }
        }
    }
}

@media (max-width: 768px) {
    .artista {
        h2 { .text-center; }
        #info {
            margin: 50px 0;
            .text-center;

            .fr, .fl { float: none; }
            .name { margin-top: 20px; }
        }
    }
}

/* Template artistas
   ========================================================================== */

.template-artistas {
    .item {
        margin-top: 20px;
        .text-center;

        a { display: block; }
        a:hover {
            h3, p { color: @red; }
            figure { border-color: @red; }
            .inner-mask { opacity: 1; }
        }
        .inner-mask {
            .absolute;
            top: 0;
            left: 0;
            z-index: 2;
            width: 100%;
            height: 100%;
            opacity: 0;
            padding: 11px;
            overflow: hidden;
            .transition(all, .2s, ease-in);

            .mask {
                width: 100%;
                height: 100%;
                .border-radius(100%);
                background-color: rgba(0,0,0,.7);

                img {
                    .absolute;
                    top: 50%;
                    left: 50%;
                    transform: translateY(-50%) translateX(-50%);
                }
            }
        }
        h3, p, figure { .transition(all, .2s, ease-in); }
        figure {
            .relative;
            width: 100%;
            max-width: 300px;
            margin: 0 auto 15px auto;
            border: 1px solid #000;
            .border-radius(100%);
                
            .content img {
                width: 100%;
                height: 100%;
                padding: 10px;
                .border-radius(100%);
            }
        }
        h3 { font-size: 18px; }
        p { 
            letter-spacing: 1px;
            font-size: 13px;
            color: #000;
        }
    }
}

/* Artistas
   ========================================================================== */

.section-header {
    margin-bottom: 30px;

    p {
        &:first-child { margin: 0; }

        margin-top: -20px;
        letter-spacing: 1px;
        .text-center;
        .uppercase;
    }
}
.artistas {
    .list {}
}

/* Noticia
   ========================================================================== */

.noticia {
    .back {
        display: block;
        margin-bottom: 15px;
        .uppercase;
        letter-spacing: 1px;
        color: #000;
        font-size: 17px;
        font-weight: bold;

        .fa {
            .relative;
            top: -2px;
            margin-right: 10px;
            vertical-align: middle;
            font-size: 25px;
        }
    }
    h1 {
        text-align: left;
    }
    .cat {
        padding: 5px;
        .border-radius(5px);
        background-color: #E64C3B;
        color: #fff;
        .uppercase;
        font-size: 11px;
    }
    .content p { line-height: 1.5em; }
    .comments {
        margin-top: 50px;

        .fb-comments {
            margin-top: 20px;

            &, & > span, & > span > iframe { width: 100% !important; }
        }
    }
    .sidebar {
        margin-top: 20px;

        ul {
            border: 1px solid #D1D1D1;
            overflow: hidden;
            .border-radius(10px);

            li {
                &:nth-child(odd) { background-color: #fff; }
                &:nth-child(even) { background-color: #f6f6f6; }
                &.header {
                    padding: 15px 17px;
                    letter-spacing: 1px;
                    .uppercase;
                    font-size: 16px;
                    font-weight: bold;

                    .fa {
                        .relative;
                        top: -2px;
                        margin-right: 10px;
                        vertical-align: middle;
                        font-size: 24px;
                    }
                }
                a {
                    .relative;
                    display: block;
                    padding: 17px;
                    color: #545454;

                    &:hover {
                        .wrap-cat { opacity: 1; }
                    }
                    .wrap-cat {
                        .absolute;
                        top: 0;
                        right: 0;
                        width: 50%;
                        height: 100%;
                        opacity: 0;
                        background: -moz-linear-gradient(left, rgba(255,255,255,0) 0%, rgba(255,255,255,1) 45%, rgba(255,255,255,1) 100%);
                        background: -webkit-linear-gradient(left, rgba(255,255,255,0) 0%,rgba(255,255,255,1) 45%,rgba(255,255,255,1) 100%);
                        background: linear-gradient(to right, rgba(255,255,255,0) 0%,rgba(255,255,255,1) 45%,rgba(255,255,255,1) 100%);
                        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00ffffff', endColorstr='#ffffff',GradientType=1 );
                        .transition(all, .2s, ease-in);

                        .cat {
                            .fr;
                            margin: 16px 12px 0 0;
                        }
                    }

                }
            }
        }
    }
}

@media (max-width: 768px) {
    .noticia {
        .noticia-info {
            .cat { 
                display: inline-block;
                margin-top: 5px;
            }
        }
    }
}

/* Seleção
   ========================================================================== */

.select {
    #selected {
        padding: 30px 0 0 0;
        background: rgb(242,202,39);
        background: -moz-linear-gradient(-45deg, rgba(242,202,39,1) 0%, rgba(231,76,60,1) 100%);
        background: -webkit-linear-gradient(-45deg, rgba(242,202,39,1) 0%,rgba(231,76,60,1) 100%);
        background: linear-gradient(135deg, rgba(242,202,39,1) 0%,rgba(231,76,60,1) 100%);
        color: #fff;

        #top-select {
            .section-header { margin-bottom: 0; }
        }
        .template-artistas {
            width: auto;
            margin-top: 20px;
            overflow-x: auto;
            overflow-y: hidden;
            white-space: nowrap;
            padding-bottom: 40px;

            &::-webkit-scrollbar { width: 12px; }
            &::-webkit-scrollbar-track { background-color: #ccc; }
            &::-webkit-scrollbar-thumb { background-color: #545454; }
            .item {
                .relative;
                width: 300px;
                margin: 0;
                padding: 0 15px;
                display: inline-block;

                a { white-space: normal; }
                .inner-mask .mask { background-color: rgba(255,255,255,.7); }
                figure { border: 1px solid #fff !important; }
                h3, p { color: #fff !important; }
                .remove {
                    .absolute;
                    top: 0;
                    left: 100%;
                    z-index: 10;
                    width: 18px;
                    margin-left: -30px;
                    white-space: nowrap;
                    overflow: hidden;
                    color: #fff;
                    .uppercase;
                    font-size: 14px;
                    text-align: left;

                    &:hover {
                        width: 166px;
                    }
                    .fa { font-size: 22px; }
                    span {
                        .relative;
                        top: -2px;
                        left: 5px;
                    }
                }
            }
        }
    }
}