/*
Theme Name: HotCue
Theme URI: http://hotcue.com.br
Author: Harpia Desenvolvimento
Author URI: http://www.harpiadev.com.br
Description: Agência de representação e gerenciamento de artistas especializada em música eletrônica..
Version: 1.0
Text Domain: hotcue
*/

@import "normalize.css";
/**
 * CORES PRIMÁRIAS DO SITE
 */
@font-face {
  font-family: 'Montserrat';
  src: url('../../assets/fonts/montserrat/regular/montserrat-regular.eot');
  src: url('../../assets/fonts/montserrat/regular/montserrat-regular.eot?#iefix') format('embedded-opentype'), url('../../assets/fonts/montserrat/regular/montserrat-regular.woff2') format('woff2'), url('../../assets/fonts/montserrat/regular/montserrat-regular.woff') format('woff'), url('../../assets/fonts/montserrat/regular/montserrat-regular.ttf') format('truetype'), url('../../assets/fonts/montserrat/regular/montserrat-regular.svg#Montserrat') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Montserrat';
  src: url('../../assets/fonts/montserrat/light/montserrat-light.eot');
  src: url('../../assets/fonts/montserrat/light/montserrat-light.eot?#iefix') format('embedded-opentype'), url('../../assets/fonts/montserrat/light/montserrat-light.woff2') format('woff2'), url('../../assets/fonts/montserrat/light/montserrat-light.woff') format('woff'), url('../../assets/fonts/montserrat/light/montserrat-light.ttf') format('truetype'), url('../../assets/fonts/montserrat/light/montserrat-light.svg#Montserrat') format('svg');
  font-weight: 200;
  font-style: normal;
}
@font-face {
  font-family: 'Montserrat';
  src: url('../../assets/fonts/montserrat/bold/montserrat-bold.eot');
  src: url('../../assets/fonts/montserrat/bold/montserrat-bold.eot?#iefix') format('embedded-opentype'), url('../../assets/fonts/montserrat/bold/montserrat-bold.woff2') format('woff2'), url('../../assets/fonts/montserrat/bold/montserrat-bold.woff') format('woff'), url('../../assets/fonts/montserrat/bold/montserrat-bold.ttf') format('truetype'), url('../../assets/fonts/montserrat/bold/montserrat-bold.svg#Montserrat') format('svg');
  font-weight: bold;
  font-style: normal;
}
/* Headers
   ========================================================================== */
h1,
h2,
h3,
h4,
h4,
h6 {
  margin: 0;
}
h1,
h2,
h3 {
  color: #000;
  text-transform: uppercase;
  font-weight: bold;
}
h1 {
  margin: 10px 0 20px 0;
  font-size: 43px;
}
h2 {
  font-size: 36px;
}
h3 {
  font-size: 24px;
}
/* Links
   ========================================================================== */
a,
a:visited,
a:active,
a:hover {
  text-decoration: none !important;
  -webkit-transition: all 0.2s ease-in;
  -moz-transition: all 0.2s ease-in;
  -o-transition: all 0.2s ease-in;
  -ms-transition: all 0.2s ease-in;
  transition: all 0.2s ease-in;
}
/* Buttons
   ========================================================================== */
/* RESET
   ========================================================================== */
* {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
}
figure {
  margin: 0;
}
ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
p {
  margin: 0 0 15px 0;
  line-height: 1.3em;
}
img {
  max-width: 100%;
}
/* Class Helpers
   ========================================================================== */
.relative {
  position: relative;
}
.absolute {
  position: absolute;
}
.text-center {
  text-align: center;
}
.uppercase {
  text-transform: uppercase;
}
.block {
  display: block;
}
.grayscale {
  filter: url("data:image/svg+xml;utf8,<svg xmlns=\'http://www.w3.org/2000/svg\'><filter id=\'grayscale\'><feColorMatrix type=\'matrix\' values=\'0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0\'/></filter></svg>#grayscale");
  filter: gray;
  /* IE6-9 */
  -webkit-filter: grayscale(100%);
  /* Chrome 19+, Safari 6+, Safari 6+ iOS */
}
.nomargin {
  margin: 0 !important;
}
.nopadding {
  padding: 0 !important;
}
/* Floating & Alignment
   ========================================================================== */
.fl {
  float: left;
}
.fr {
  float: right;
}
.clearfix:before,
.clearfix:after {
  content: " ";
  display: table;
}
.clearfix:after {
  clear: both;
}
.clearfix {
  *zoom: 1;
}
.cb {
  clear: both;
}
/* Mixins
   ========================================================================== */
.ratio {
  position: relative;
}
.ratio:before {
  display: block;
  content: "";
  width: 100%;
}
.ratio > .content {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}
.ratio-16-9:before {
  padding-top: 56.25%;
}
.ratio-1-1:before {
  padding-top: 100%;
}
/* Loading
   ========================================================================== */
@-webkit-keyframes ball-pulse-sync {
    33% {
      -webkit-transform: translateY(10px);
      transform: translateY(10px);
    }
    66% {
      -webkit-transform: translateY(-10px);
      transform: translateY(-10px);
    }
    100% {
      -webkit-transform: translateY(0);
      transform: translateY(0);
    }
}

@keyframes ball-pulse-sync {
    33% {
      -webkit-transform: translateY(10px);
      transform: translateY(10px);
    }
    66% {
      -webkit-transform: translateY(-10px);
      transform: translateY(-10px);
    }
    100% {
      -webkit-transform: translateY(0);
      transform: translateY(0);
    }
}
.loading-ball>div:nth-child(1) {
  -webkit-animation: ball-pulse-sync .6s .07s infinite ease-in-out;
  animation: ball-pulse-sync .6s .07s infinite ease-in-out;
}
.loading-ball>div:nth-child(2) {
  -webkit-animation: ball-pulse-sync .6s .14s infinite ease-in-out;
  animation: ball-pulse-sync .6s .14s infinite ease-in-out;
}
.loading-ball>div:nth-child(3) {
  -webkit-animation: ball-pulse-sync .6s .21s infinite ease-in-out;
  animation: ball-pulse-sync .6s .21s infinite ease-in-out;
}
.loading-ball>div {
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}
.loading-ball>div {
  display: inline-block;
  background-color: #9A9A9A;
  width: 15px;
  height: 15px;
  border-radius: 100%;
  margin: 2px;
}

.overlay-loading {
  width: 100%;
  height: 100px;
  position: relative;
}
.overlay-loading .loading-ball {
  position: absolute;
  top: 50%;
  left: 50%;
  margin-left: -32px;
  margin-top: -12px;
}

.alert-message-static {
  padding: 20px 0;
  color: #545454;
  text-align: center;
}
.alert-message-static .fa { font-size: 52px; }
.alert-message-static p {
  margin-top: 15px;
  font-size: 16px;
}

/* Form
   ========================================================================== */
.form input,
.form button,
.form textarea,
.form select {
  position: relative;
  width: 100%;
  display: block;
  outline: none;
  border: 1px solid #000;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  border-radius: 20px;
  padding: 10px 25px;
  font: inherit;
  color: #000;
  background-color: transparent;
}
.form input::-webkit-input-placeholder,
.form button::-webkit-input-placeholder,
.form textarea::-webkit-input-placeholder {
  font-style: italic;
  color: #000;
  font-size: 13px;
}
.form input:-moz-placeholder,
.form button:-moz-placeholder,
.form textarea:-moz-placeholder {
  font-style: italic;
  color: #000;
  font-size: 13px;
}
.form input::-moz-placeholder,
.form button::-moz-placeholder,
.form textarea::-moz-placeholder {
  font-style: italic;
  color: #000;
  font-size: 13px;
}
.form input:-ms-input-placeholder,
.form button:-ms-input-placeholder,
.form textarea:-ms-input-placeholder {
  font-style: italic;
  color: #000;
  font-size: 13px;
}
.form button {
  text-align: left;
}
.form button .fa {
  position: absolute;
  right: 30px;
  top: 9px;
  font-size: 22px;
}

/* ==========================================================================
   BOOTSTRAP MEASURES
   ==========================================================================
   Phones                    < 768px
   Small Devices (Tablets)   >= 768px
   Medium Devices (Desktops) >= 992px
   Large Devices (Desktops)  >= 1200px
   ========================================================================== */
/* ==========================================================================
   STRUCTURE E APPEARANCE
   ========================================================================== */
/* Wrappers
   ========================================================================== */
body {
  padding-top: 143px;
  font-family: "Montserrat", "Helvetica", Helvetica, Tahoma, sans-serif;
}
.container {
  position: relative;
}

@media (max-width: 992px) {
  body { padding-top: 85px; }
}

/* Social
   ========================================================================== */
.social li {
  float: left;
  margin-left: 9px;
}
.social li a {
  display: block;
  width: 37px;
  height: 37px;
  padding: 0;
  border: 1px solid #e74c3c;
  line-height: 37px;
  -webkit-border-radius: 100%;
  -moz-border-radius: 100%;
  border-radius: 100%;
  text-align: center;
  font-size: 0;
  color: #e74c3c !important;
  background-color: transparent !important;
  -webkit-transition: all 0.2s ease-in;
  -moz-transition: all 0.2s ease-in;
  -o-transition: all 0.2s ease-in;
  -ms-transition: all 0.2s ease-in;
  transition: all 0.2s ease-in;
}
.social li a:hover {
  color: #fff !important;
  background-color: #e74c3c !important;
}
.social li a .fa {
  vertical-align: middle;
  font-size: 18px;
}
/* Header
   ========================================================================== */
#header {
  position: fixed;
  top: 0;
  z-index: 999;
  width: 100%;
  margin-bottom: 0;
  background-color: #fff;
  border-bottom: 4px solid #e74c3c;
}
#header .navbar-header {
  height: 80px;
  float: none;
  padding-top: 18px;
  text-align: center;
}
#header .navbar-header .navbar-brand {
  height: auto;
  float: none;
  padding: 0;
  display: inline-block;
}
#header .navbar-header .navbar-brand img {
  display: inline;
}
#header .navbar-header .navbar-toggle {
  margin: 9px 0 0 5px;
  padding: 0;
}
#header .navbar-header .navbar-toggle .icon-bar {
  width: 28px;
  height: 3px;
  background-color: #e74c3c;
}
#header .navbar-header .navbar-toggle .icon-bar + .icon-bar {
  margin-top: 5px;
}
#header .navbar-collapse {
  padding: 0 !important;
  border-top: 1px solid #F2F2F2;
  background-color: #F8F8F8;
}
#header .navbar-collapse .navbar-nav {
  float: none;
}
#header .navbar-collapse .navbar-nav.menu {
  display: table;
  margin: 12px auto 0 auto;
}
#header .navbar-collapse .navbar-nav.menu li {
  margin: 0 5px;
}
#header .navbar-collapse .navbar-nav.menu li.active a {
  border: 1px solid #e74c3c;
  color: #e74c3c;
}
#header .navbar-collapse .navbar-nav.menu li a {
  padding: 5px 20px;
  border: 1px solid transparent;
  -webkit-border-radius: 25px;
  -moz-border-radius: 25px;
  border-radius: 25px;
  letter-spacing: 1px;
  text-transform: uppercase;
  color: #0B0C0D;
  background-color: transparent !important;
  font-size: 14px;
  font-weight: 200;
  -webkit-transition: all 0.2s ease-in;
  -moz-transition: all 0.2s ease-in;
  -o-transition: all 0.2s ease-in;
  -ms-transition: all 0.2s ease-in;
  transition: all 0.2s ease-in;
}
#header .navbar-collapse .navbar-nav.menu li a:hover {
  border: 1px solid #e74c3c;
  color: #e74c3c;
}
#header .navbar-collapse .navbar-nav.social {
  position: absolute;
  top: -60px;
  right: 0;
}
@media (min-width: 992px) {
  #header .navbar-collapse {
    height: 58px !important;
  }
}
@media (max-width: 1200px) {
  #header .navbar-collapse .navbar-nav.menu li a {
    padding: 5px 12px;
    letter-spacing: 0;
  }
}
@media (max-width: 992px) {
  #header .navbar-header .navbar-toggle {
    display: block;
  }
  #header .navbar-collapse {
    height: auto;
    padding: 6px 0 !important;
  }
  #header .navbar-collapse.collapse {
    display: none !important;
  }
  #header .navbar-collapse.collapse.in {
    display: block !important;
  }
  #header .navbar-collapse .navbar-nav.menu {
    width: 100%;
    display: block;
    margin: 0;
  }
  #header .navbar-collapse .navbar-nav.menu li {
    margin: 5px 0 0 0;
    float: none;
  }
  #header .navbar-collapse .navbar-nav.menu li:first-child {
    margin-top: 0;
  }
  #header .navbar-collapse .navbar-nav.menu li a {
    display: block;
    padding: 10px 15px;
  }
  #header .navbar-collapse .navbar-nav.social {
    position: relative;
    top: 0;
    right: 0;
    margin: 5px 0 0 0;
    width: 100%;
    display: table;
    border: 1px solid #e74c3c;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    overflow: hidden;
  }
  #header .navbar-collapse .navbar-nav.social li {
    display: table-cell;
    width: 33.3333%;
    margin: 0;
  }
  #header .navbar-collapse .navbar-nav.social li a {
    width: 100%;
    height: 42px;
    line-height: 42px;
    display: block;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
    border: none;
    background-color: #e74c3c !important;
    color: #fff !important;
  }
  #header .navbar-collapse .navbar-nav.social li a:hover {
    background-color: transparent !important;
    color: #e74c3c !important;
  }
}
/* Footer
   ========================================================================== */
#footer {
  width: 100%;
  border-top: 3px solid #E8E8E8;
}
#footer .newsletter {
  width: 100%;
  padding: 25px 0;
  border-bottom: 1px solid #E8E8E8;
  background-color: #f8f8f8;
}
#footer .newsletter h1 {
  margin: 0;
}
#footer .newsletter #form-newsletter .field-form {
  margin-bottom: 20px;
}
#footer .address {
  padding: 20px 0;
  background-color: #f8f8f8;
  border-bottom: 1px solid #E8E8E8;
}
#footer .address h3 {
  margin-bottom: 10px;
}
#footer .address p {
  margin-bottom: 0;
}
#footer .signature {
  padding: 20px 0;
  font-size: 13px;
}
#footer .signature a {
  font-weight: bold;
  color: #e74c3c;
}
@media (max-width: 768px) {
  #footer > section {
    text-align: center;
  }
  #footer .newsletter {
    text-align: center;
  }
  #footer .newsletter h1 {
    margin-bottom: 30px;
  }
  #footer .address .row > div {
    margin-bottom: 20px;
  }
  #footer .signature span {
    display: block;
    float: none !important;
    line-height: 32px;
  }
  #footer .signature span:first-child {
    line-height: normal;
  }
}
/* Formulário
   ========================================================================== */
/* Container with arrow
   ========================================================================== */
.container-with-arrow {
  position: relative;
  width: 100%;
  padding: 0 35px;
}
.container-with-arrow .arrow {
  position: absolute;
  top: 50%;
  margin-top: -20px;
}
.container-with-arrow .arrow.disabled {
  opacity: .5;
  cursor: default;
  pointer-events: none;
}
.container-with-arrow .arrow.left {
  left: 0;
}
.container-with-arrow .arrow.right {
  right: 0;
}
/* Banner
   ========================================================================== */
#banner {
  position: relative;
  width: 100%;
  height: 554px;
}
#banner .cycle-slideshow {
  position: absolute !important;
  z-index: 0;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
}
#banner .cycle-slideshow a {
  position: relative;
  display: block;
  width: 100%;
  height: 550px;
  overflow: hidden;
}
#banner .cycle-slideshow a img {
  position: absolute;
  left: 50%;
  margin-left: -1000px;
  max-width: none;
}
#banner .paging .arrow-banner {
  position: absolute;
  top: 240px;
}
#banner .paging .arrow-banner.left {
  left: 0;
}
#banner .paging .arrow-banner.right {
  right: 0;
}
@media (max-width: 768px) {
  #banner {
    height: 254px;
  }
  #banner .cycle-slideshow a {
    height: 254px;
  }
  #banner .paging .arrow-banner {
    top: 100px;
    padding: 0 10px;
  }
  #banner .paging .arrow-banner img {
    width: 28px;
  }
}
/* Section
   ========================================================================== */
.section {
  padding: 30px 0 40px 0;
}
.section h1 {
  text-align: center;
}
@media (max-width: 768px) {
  .section h1 {
    font-size: 34px;
  }
}
/* ==========================================================================
   PAGE CONTENT
   ========================================================================== */
/* Página inicial
   ========================================================================== */
.home #agenda {
  padding-bottom: 0;
  background: #f5f5f5 url('../../assets/images/background-agenda-home.jpg') no-repeat center;
}
.home #agenda .top .select-style {
  position: relative;
  width: 100%;
  padding: 0;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  border-radius: 8px;
  overflow: hidden;
  border: 1px solid #e74c3c;
  text-align: center;
  letter-spacing: 1px;
  color: #e74c3c;
  background: url('../../assets/images/arrow-down-select.png') no-repeat right 10px center;
}
.home #agenda .top .select-style select {
  padding: 10px;
  width: 130%;
  border: none;
  box-shadow: none;
  text-transform: uppercase;
  background-color: transparent;
  background-image: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}
.home #agenda .top .select-style select:focus {
  outline: none;
}
.home #agenda .top .djs {
  display: table;
  margin: 0 auto;
}
.home #agenda .top .djs li {
  display: inline-block;
  margin: 0 20px;
}
.home #agenda .top .djs li.active a {
  color: #e74c3c;
}
.home #agenda .top .djs li a {
  position: relative;
  display: block;
  padding: 12px 0;
  letter-spacing: 1px;
  text-transform: uppercase;
  color: #545454;
}
.home #agenda .top .djs li a:after,
.home #agenda .top .djs li a:before {
  position: absolute;
  opacity: 0;
  -webkit-transition: all 0.2s ease-in;
  -moz-transition: all 0.2s ease-in;
  -o-transition: all 0.2s ease-in;
  -ms-transition: all 0.2s ease-in;
  transition: all 0.2s ease-in;
}
.home #agenda .top .djs li a:after {
  content: ']';
  right: -40px;
}
.home #agenda .top .djs li a:before {
  content: '[';
  left: -40px;
}
.home #agenda .top .djs li a:hover,
.home #agenda .top .djs li a.selected {
  color: #e74c3c;
}
.home #agenda .top .djs li a:hover:after,
.home #agenda .top .djs li a:hover:before,
.home #agenda .top .djs li a.selected:after,
.home #agenda .top .djs li a.selected:before {
  opacity: 1;
  color: #e74c3c;
}
.home #agenda .top .djs li a:hover:after,
.home #agenda .top .djs li a.selected:after {
  right: -15px;
}
.home #agenda .top .djs li a:hover:before,
.home #agenda .top .djs li a.selected:before {
  left: -15px;
}
.home #agenda .dates {
  width: auto;
  margin-top: 20px;
  overflow-x: scroll;
  overflow-y: hidden;
  white-space: nowrap;
}
.home #agenda .dates::-webkit-scrollbar {
  width: 12px;
}
.home #agenda .dates::-webkit-scrollbar-track {
  background-color: #DFDFDF;
}
.home #agenda .dates::-webkit-scrollbar-thumb {
  background-color: #e74c3c;
}
.home #agenda .dates .date {
  width: 300px;
  height: 320px;
  display: inline-block;
  margin-right: 15px;
  vertical-align: top;
}
.home #agenda .dates .date a {
  white-space: normal;
}
.home #agenda .dates .date a p,
.home #agenda .dates .date a h2,
.home #agenda .dates .date a .btn {
  -webkit-transition: all 0.2s ease-in;
  -moz-transition: all 0.2s ease-in;
  -o-transition: all 0.2s ease-in;
  -ms-transition: all 0.2s ease-in;
  transition: all 0.2s ease-in;
}
.home #agenda .dates .date a:hover p {
  color: #000;
}
.home #agenda .dates .date a:hover h2 {
  color: #e74c3c;
}
.home #agenda .dates .date a:hover .btn {
  background-color: #e74c3c !important;
  border-color: #e74c3c;
  color: #fff;
}
.home #agenda .dates .date time {
  color: #555;
  font-weight: 200;
}
.home #agenda .dates .date time .day {
  margin-right: 5px;
  font-size: 46px;
}
.home #agenda .dates .date h2 {
  margin-bottom: 15px;
}
.home #agenda .dates .date p {
  position: relative;
  padding-left: 20px;
  color: #737373;
}
.home #agenda .dates .date p .fa {
  position: absolute;
  top: 0;
  left: 0;
  font-size: 20px;
}
.home #agenda .dates .date .btn {
  border: 1px solid #747474;
  padding: 6px 10px;
  text-transform: uppercase;
  letter-spacing: 1px;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  border-radius: 6px;
  color: #747474;
  -webkit-box-shadow: none 3px 5px rgba(0, 0, 0, 0.5) !important;
  -moz-box-shadow: none 3px 5px rgba(0, 0, 0, 0.5) !important;
  box-shadow: none 3px 5px rgba(0, 0, 0, 0.5) !important;
  background-color: transparent !important;
}
.home #agenda .dates .date .btn .fa {
  position: relative;
  top: -1px;
  margin: 0 8px 0 5px;
  vertical-align: middle;
  font-size: 20px;
}
.home #about {
  background: #f2ca27;
  background: -moz-linear-gradient(-45deg, #f2ca27 0%, #e74c3c 100%);
  background: -webkit-linear-gradient(-45deg, #f2ca27 0%, #e74c3c 100%);
  background: linear-gradient(135deg, #f2ca27 0%, #e74c3c 100%);
  color: #fff;
}
.home #about h1,
.home #about h2,
.home #about p {
  text-align: left;
  color: inherit;
  text-shadow: 0 1px 2px rgba(0, 0, 0, 0.3);
}
.home #about h1,
.home #about h2 {
  margin: 30px 0 15px 0;
}
.home #about p {
  font-size: 17px;
  font-weight: 200;
}
.home #about .logo {
  margin-top: 20px;
}
.home #hotnews .container-news .news {
  margin-left: -1px;
  margin-right: -1px;
}
.home #hotnews .container-news .news > div {
  padding: 1px;
}
.home #hotnews .container-news .news > div.new a {
  height: 342px;
}
.home #hotnews .container-news .news > div.new a .content {
  padding: 15px;
}
.home #hotnews .container-news .news > div.new a .content h3 {
  font-size: 24px;
}
.home #hotnews .container-news .news > div a {
  position: relative;
  display: block;
  height: 170px;
}
.home #hotnews .container-news .news > div figure {
  position: absolute;
  z-index: -1;
  width: 100%;
  height: 100%;
  overflow: hidden;
}
.home #hotnews .container-news .news > div figure img {
  width: 100%;
  height: 100%;
}
.home #hotnews .container-news .news > div .content {
  padding: 10px;
  color: #fff;
}
.home #hotnews .container-news .news > div .content .cat {
  padding: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  background-color: #E64C3B;
  color: #fff;
  text-transform: uppercase;
  font-size: 11px;
}
.home #hotnews .container-news .news > div .content h3,
.home #hotnews .container-news .news > div .content p {
  text-shadow: 0 0 2px rgba(0, 0, 0, 0.4);
}
.home #hotnews .container-news .news > div .content h3 {
  margin-top: 10px;
  font-size: 18px;
  color: inherit;
}
.home #hotnews .container-news .news > div .content p {
  margin-top: 8px;
}
@media (max-width: 768px) {
  .home #agenda .top .djs {
    margin-top: 10px;
  }
  .home #agenda .dates {
    border-top: 1px solid #ccc;
  }
  .home #hotnews .container-news .news > div.new a {
    height: 240px;
  }
  .home #hotnews .container-news .news > div.new a .content h3 {
    font-size: 22px;
  }
}
/* Artista
   ========================================================================== */
.artista {
  padding: 50px 0 0 0;
}
.artista .section {
  padding: 20px 0;
}
.artista h2 {
  margin-bottom: 20px;
}
.artista #profile {
  text-align: center;
}
.artista #profile figure {
  width: 100%;
  max-width: 300px;
  margin: 0 auto;
  border: 1px solid #000;
  -webkit-border-radius: 100%;
  -moz-border-radius: 100%;
  border-radius: 100%;
}
.artista #profile figure img {
  width: 100%;
  height: 100%;
  padding: 10px;
  -webkit-border-radius: 100%;
  -moz-border-radius: 100%;
  border-radius: 100%;
}
.artista #profile .buttons {
  margin-top: -20px;
}
.artista #profile .solicitar-pedido {
  position: relative;
  display: inline-block;
  padding: 11px 60px 10px 22px;
  -webkit-border-radius: 22px;
  -moz-border-radius: 22px;
  border-radius: 22px;
  background-color: #0B0C0F;
  color: #fff;
  text-transform: uppercase;
  font-size: 18px;
}
.artista #profile .solicitar-pedido span {
  position: absolute;
  top: 2px;
  right: 2px;
  width: 42px;
  height: 42px;
  display: inline-block;
  color: #000;
  text-align: center;
  line-height: 42px;
  font-size: 0;
  -webkit-border-radius: 100%;
  -moz-border-radius: 100%;
  border-radius: 100%;
  background-color: #fff;
}
.artista #profile .solicitar-pedido span .fa {
  font-size: 24px;
  vertical-align: middle;
}
.artista #info .location { margin: 10px 0 0 0;}
.artista #info .name h1,
.artista #info .name p {
  margin: 0;
}
.artista #info .name p {
  text-transform: uppercase;
  letter-spacing: 1px;
  text-align: center;
}
.artista #videos {
  margin-top: 30px;
}
.artista #videos #iframe-video {
  width: 100%;
}
.artista #videos #iframe-video iframe {
  border: none;
}
.artista #fotos h2 {
  text-align: center;
}
.artista #fotos .container-fotos .item {
  width: 260px;
  height: 180px;
  display: block;
  overflow: hidden;
  text-align: center;
}
.artista #fotos .container-fotos .item img {
  height: 100%;
  padding: 0 5px;
}
.artista #bio { word-wrap: break-word; }
.artista #social .social li {
  margin: 0 9px 10px 0;
}
@media (max-width: 768px) {
  .artista h2 {
    text-align: center;
  }
  .artista #info {
    margin: 50px 0;
    text-align: center;
  }
  .artista #info .fr,
  .artista #info .fl {
    float: none;
  }
  .artista #info .name {
    margin-top: 20px;
  }
  .artista #social .social {
    display: table;
    margin: 0 auto;
  }
}
/* Template artistas
   ========================================================================== */
.template-artistas .item {
  margin-top: 20px;
  text-align: center;
}
.template-artistas .item a {
  display: block;
}
.template-artistas .item a:hover h3,
.template-artistas .item a:hover p {
  color: #e74c3c;
}
.template-artistas .item a:hover figure {
  border-color: #e74c3c;
}
.template-artistas .item a:hover .inner-mask {
  opacity: 1;
}
.template-artistas .item .inner-mask {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;
  width: 100%;
  height: 100%;
  opacity: 0;
  padding: 11px;
  overflow: hidden;
  -webkit-transition: all 0.2s ease-in;
  -moz-transition: all 0.2s ease-in;
  -o-transition: all 0.2s ease-in;
  -ms-transition: all 0.2s ease-in;
  transition: all 0.2s ease-in;
}
.template-artistas .item .inner-mask .mask {
  width: 100%;
  height: 100%;
  -webkit-border-radius: 100%;
  -moz-border-radius: 100%;
  border-radius: 100%;
  background-color: rgba(0, 0, 0, 0.7);
}
.template-artistas .item .inner-mask .mask img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateY(-50%) translateX(-50%);
  max-width: 80%;
}
.template-artistas .item h3,
.template-artistas .item p,
.template-artistas .item figure {
  -webkit-transition: all 0.2s ease-in;
  -moz-transition: all 0.2s ease-in;
  -o-transition: all 0.2s ease-in;
  -ms-transition: all 0.2s ease-in;
  transition: all 0.2s ease-in;
}
.template-artistas .item figure {
  position: relative;
  width: 100%;
  max-width: 300px;
  margin: 0 auto 15px auto;
  border: 1px solid #000;
  -webkit-border-radius: 100%;
  -moz-border-radius: 100%;
  border-radius: 100%;
}
.template-artistas .item figure .content img {
  width: 100%;
  height: 100%;
  padding: 10px;
  -webkit-border-radius: 100%;
  -moz-border-radius: 100%;
  border-radius: 100%;
}
.template-artistas .item h3 {
  font-size: 18px;
}
.template-artistas .item p {
  letter-spacing: 1px;
  font-size: 13px;
  color: #000;
}
/* Artistas
   ========================================================================== */
.section-header {
  margin-bottom: 30px;
}
.section-header p {
  margin-top: -20px;
  letter-spacing: 1px;
  text-align: center;
  text-transform: uppercase;
}
.section-header p:first-child {
  margin: 0;
}
/* Noticia
   ========================================================================== */
.noticia .back {
  display: block;
  margin-bottom: 15px;
  text-transform: uppercase;
  letter-spacing: 1px;
  color: #000;
  font-size: 17px;
  font-weight: bold;
}
.noticia .back .fa {
  position: relative;
  top: -2px;
  margin-right: 10px;
  vertical-align: middle;
  font-size: 25px;
}
.noticia h1 {
  text-align: left;
}
.noticia .cat {
  padding: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  background-color: #E64C3B;
  color: #fff;
  text-transform: uppercase;
  font-size: 11px;
}
.noticia .content p {
  line-height: 1.5em;
}
.noticia .comments {
  margin-top: 50px;
}
.noticia .comments .fb-comments {
  margin-top: 20px;
}
.noticia .comments .fb-comments,
.noticia .comments .fb-comments > span,
.noticia .comments .fb-comments > span > iframe {
  width: 100% !important;
}
.noticia .sidebar {
  margin-top: 20px;
}
.noticia .sidebar ul {
  border: 1px solid #D1D1D1;
  overflow: hidden;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
}
.noticia .sidebar ul li:nth-child(odd) {
  background-color: #fff;
}
.noticia .sidebar ul li:nth-child(even) {
  background-color: #f6f6f6;
}
.noticia .sidebar ul li.header {
  padding: 15px 17px;
  letter-spacing: 1px;
  text-transform: uppercase;
  font-size: 16px;
  font-weight: bold;
}
.noticia .sidebar ul li.header .fa {
  position: relative;
  top: -2px;
  margin-right: 10px;
  vertical-align: middle;
  font-size: 24px;
}
.noticia .sidebar ul li a {
  position: relative;
  display: block;
  padding: 17px;
  color: #545454;
}
.noticia .sidebar ul li a:hover .wrap-cat {
  opacity: 1;
}
.noticia .sidebar ul li a .wrap-cat {
  position: absolute;
  top: 0;
  right: 0;
  width: 50%;
  height: 100%;
  opacity: 0;
  background: -moz-linear-gradient(left, rgba(255, 255, 255, 0) 0%, #ffffff 45%, #ffffff 100%);
  background: -webkit-linear-gradient(left, rgba(255, 255, 255, 0) 0%, #ffffff 45%, #ffffff 100%);
  background: linear-gradient(to right, rgba(255, 255, 255, 0) 0%, #ffffff 45%, #ffffff 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#00ffffff', endColorstr='#ffffff', GradientType=1);
  -webkit-transition: all 0.2s ease-in;
  -moz-transition: all 0.2s ease-in;
  -o-transition: all 0.2s ease-in;
  -ms-transition: all 0.2s ease-in;
  transition: all 0.2s ease-in;
}
.noticia .sidebar ul li a .wrap-cat .cat {
  float: right;
  margin: 16px 12px 0 0;
}
@media (max-width: 768px) {
  .noticia .noticia-info .cat {
    display: inline-block;
    margin-top: 5px;
  }
}
/* Seleção
   ========================================================================== */

.select #selected .template-artistas { height: 410px; }
.select #selected .opt-buttons {
  display: inline-block;
  margin-left: 30px;
}
.select #selected .opt-buttons button {
  padding: 10px 18px;
  outline: none;
  border: 1px solid #fff;
  border-radius: 20px;
  background: transparent;
  -webkit-transition: all 0.2s ease-in;
  -moz-transition: all 0.2s ease-in;
  -o-transition: all 0.2s ease-in;
  -ms-transition: all 0.2s ease-in;
  transition: all 0.2s ease-in;
}
.select #selected .opt-buttons button:hover {
  color: #e74c3c;
  background-color: #fff;
}
.select #selected .opt-buttons strong { margin: 0 -6px; }
.select #selected {
  position: relative;
  padding: 30px 0 0 0;
  background: #f2ca27;
  background: -moz-linear-gradient(-45deg, #f2ca27 0%, #e74c3c 100%);
  background: -webkit-linear-gradient(-45deg, #f2ca27 0%, #e74c3c 100%);
  background: linear-gradient(135deg, #f2ca27 0%, #e74c3c 100%);
  color: #fff;
}
.select #selected.end .message,
.select #selected.end .template-artistas { opacity: .25; }
.select #selected.end #form-select { display: block; }

.select #selected #top-select .section-header {
  margin-bottom: 0;
}
.select #selected .template-artistas {
  width: auto;
  margin-top: 20px;
  overflow-x: auto;
  overflow-y: hidden;
  white-space: nowrap;
  padding-bottom: 40px;
}
.select #selected .template-artistas::-webkit-scrollbar {
  width: 12px;
}
.select #selected .template-artistas::-webkit-scrollbar-track {
  background-color: #ccc;
}
.select #selected .template-artistas::-webkit-scrollbar-thumb {
  background-color: #545454;
}
.select #selected .template-artistas .item {
  position: relative;
  width: 300px;
  margin: 0;
  padding: 0 15px;
  display: inline-block;
}
.select #selected .template-artistas .item a {
  white-space: normal;
}
.select #selected .template-artistas .item .inner-mask .mask {
  position: relative;
  overflow: hidden;
  background-color: rgba(255, 255, 255, 0.7);
}
.select #selected .template-artistas .item figure {
  border: 1px solid #fff !important;
}
.select #selected .template-artistas .item h3,
.select #selected .template-artistas .item p {
  color: #fff !important;
}
.select #selected .template-artistas .item .remove {
  position: absolute;
  top: 0;
  left: 100%;
  z-index: 10;
  width: 28px;
  margin-left: -30px;
  white-space: nowrap;
  overflow: hidden;
  color: #fff;
  text-transform: uppercase;
  font-size: 14px;
  text-align: left;
}
.select #selected .template-artistas .item .remove:hover {
  width: 190px;
}
.select #selected .template-artistas .item .remove span {
  position: relative;
  top: 1px;
  left: 5px;
  font-weight: 200;
  font-size: 15px;
  opacity: .9;
}
.select #form-select {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 30px 0;
  display: none;
}
.select #form-select .section-header h1,
.select #form-select .section-header p {
  color: #fff;
  text-shadow: 0 0 4px rgba(0,0,0,.5);
}
.select #form-select .col { margin: 10px 0; }
.select #form-select .col .field {
  width: 100%;
  display: block;
  border-radius: 8px;
  border: 1px solid #fff;
  background: transparent;
  text-transform: uppercase;
  outline: none;
  padding: 10px 20px;
  text-shadow: 0 0 2px rgba(0,0,0,.3);
}
.select #form-select .col input.field {
  height: 50px;
}
.select #form-select .col textarea.field {
  height: 120px;
}
.select #form-select .col .submit {
  width: auto;
  -webkit-transition: all 0.2s ease-in;
  -moz-transition: all 0.2s ease-in;
  -o-transition: all 0.2s ease-in;
  -ms-transition: all 0.2s ease-in;
  transition: all 0.2s ease-in;
}
.select #form-select .col .submit:hover {
  background-color: #fff;
  color: #e74c3c;
  text-shadow: none;
}
.select #form-select .col.container-textarea {
  margin-top: -60px;
}

.select #form-select .col .field::-webkit-input-placeholder {
  color: rgba(255,255,255,.8);
  text-shadow: 0 0 2px rgba(0,0,0,.3);
}
.select #form-select .col .field:-moz-placeholder {
  color: rgba(255,255,255,.8);
  text-shadow: 0 0 2px rgba(0,0,0,.3);
}
.select #form-select .col .field::-moz-placeholder {
  color: rgba(255,255,255,.8);
  text-shadow: 0 0 2px rgba(0,0,0,.3);
}
.select #form-select .col .field:-ms-input-placeholder {
  color: rgba(255,255,255,.8);
  text-shadow: 0 0 2px rgba(0,0,0,.3);
}
.select #more .artistas-internacionais { margin-top: 30px; }
.select #more .template-artistas .item { position: relative; }
.select #more .template-artistas .item .link-profile {
  position: absolute;
  z-index: 2;
  top: 0;
  right: 0;
  width: 36px;
  height: 36px;
  border-radius: 10px;
  padding: 5px;
  font-size: 19px;
  color: #fff;
  background-color: #e74c3c;
  text-align: center;
  -webkit-transition: opacity 0.2s ease-in;
  -moz-transition: opacity 0.2s ease-in;
  -o-transition: opacity 0.2s ease-in;
  -ms-transition: opacity 0.2s ease-in;
  transition: opacity 0.2s ease-in;
}
.select #more .template-artistas .item .link-profile:hover { opacity: .7; }
.select #form-select .alert-message-static {
  padding-left: 15px;
  padding-right: 15px;
  margin-top: 100px;
  color: #fff;
  text-shadow: 0 0 4px rgba(0,0,0,.5);
}

@media (max-width: 768px) {
  .select #form-select .col.container-textarea {
    margin-top: 0;
    margin: 10px 0;
  }
  .select #selected.end .template-artistas {
    height: 630px;
    overflow: hidden;
  }
}

/* Equipe
   ========================================================================== */

#equipe .social { text-align: center; }
#equipe .social li {
  float: none;
  display: inline-block;
}
#equipe .social li:first-child { margin-left: 0; }

/* Contato
   ========================================================================== */

#contato .form input,
#contato .form textarea,
#contato .form button { margin: 8px 0; }
#contato .form button { width: 170px; }
#contato .form textarea { min-height: 180px; }

