{% extends "layout/site.html" %}

{% block title %}Habbo Security - {{page.nombre}}{% endblock %}

{% block content %}
	
	<div id="cont_center">
		<div class="izq">
			<div class="box">
				<div class="head naranja"><strong>{{page.nombre}}</strong></div>
				<div id="page-content" style="overflow:hidden;">{{page.texto}}</div>
			</div>
		</div>

		<div class="der">
			{% include "layout/partials/sidebar.html" %}
		</div>
	</div>

{% endblock %}