{% extends "layout/site.html" %}

{% block content %}
	
	<div id="cont_center">
		{% block content_side %}{% endblock %}
		
		<div class="der">
			{% block content_side_bar %}{% endblock %}
			{% include "layout/partials/sidebar.html" %}
		</div>
	</div>

{% endblock %}
