<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="robots" content="noindex,nofollow" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="Somos la primera web fan de Habbo dedicada a la seguridad. Nos encontramos brindando ayuda a la comunidad desde el 2003. ¡Únete tu también!" />
    <meta name="keywords" content="habbosecurity,hse,esas,habbo,webfan,fan,fansite,noticias,consejos,ayuda,comunidad,seguridad,foro,furnis,eventos,concursos" />
    <meta name="twitter:site" content="@ESHabboSecurity">
    
    <title>{% block title %}{% endblock %}</title>
    
    <!-- stylesheets -->
    <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Ubuntu:400,500" />
    <link rel="stylesheet" href="{{ base }}/public/assets/css/general.css?v=1.0.0" />
    <link rel="stylesheet" href="{{ base }}/public/assets/css/light.css?v=1.0.0" />
    <link rel="stylesheet" href="{{ base }}/public/assets/css/font.css" />

    <!-- fontawesome -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">

    {% block stylesheet %}{% endblock %}
</head>
<body>

    <div id="container">
        <header>
            <div class="bottom"></div>
            <div class="image">
                <div class="logo"></div>
                <div class="room"></div>
                <div class="clound one"></div>
                <div class="clound two"></div>
            </div>
        </header>
        <nav id="hse-menu">
            <ul>
                <li><a href="{{ base }}/"><i class="fa fa-home"></i> Inicio</a></li>
                <li>
                    <a href="javascript:;"><i class="fa fa-lock"></i> HabboSecurity</a>
                    <ul>
                        <li><a href="{{base}}/comunidad/equipo">Equipo</a></li>
                        <li><a href="{{base}}/comunidad/historia">¿Quiénes somos?</a></li>
                        <li><a href="{{base}}/comunidad/redes-sociales">Redes Sociales</a></li>
                        <li><a href="{{base}}/comunidad/ultimos-usuarios-conectados">Últimos usuarios conectados</a></li>
                        <li><a href="{{base}}/comunidad/faq">FAQs</a></li>
                        <li><a href="{{base}}/comunidad/contacto">Contacto</a></li>
                        <li><a href="{{base}}/comunidad/estadisticas-habbo">Estadísticas Habbo</a></li>
                        <li><a href="{{base}}/comunidad/estadisticas-hse">Estadísticas HabboSecurity</a></li>
                    </ul>
                </li>
                <li><a href="{{ base }}/articles"><i class="fa fa-newspaper-o"></i> Artículos</a></li>
                <li><a href="{{ base }}/events"><i class="fa fa-gamepad"></i> Eventos</a></li>
                <li><a href="{{ base }}/furni"><i class="fa fa-shopping-cart"></i> Catálogo</a></li>
                <li>
                    <a href="{{ base }}/radio"><i class="fa fa-music"></i> Radio</a>
                    <ul>
                        <li><a href="{{base}}/radio/schedule">Horarios</a></li>
                        <li><a href="{{base}}/radio/programs">Programas</a></li>
                    </ul>
                </li>
                <li><a href="{{ base }}/utilities"><i class="fa fa-paint-brush"></i> Utilidades</a></li>
                <li><a href="{{ base }}/forum"><i class="fa fa-file-text"></i> Foro</a></li>
                <!-- '.colorDep(miDep($_SESSION['secchse'])).'" -->
                {% if user_session %}
                    <li><a href="{{base}}/account" class="mi-cuenta" style="background-color: {{user_session.getDepartmentColor()}}">Mi cuenta</a></li>
                {% else %}
                    <li><a href="#login" id="btn-login">Acceder</a></li>
                {% endif %}
            </ul>
        </nav>
        <div id="container_web">
            {% block content %}{% endblock %}
        </div>
        <footer>
            <div>
                <div class="left">© 2015, HabboSecurity.</div>
                <div class="right">Diseñado por <span>Joaquin A.</span>, <span>Jöao M.</span> y <span>Tarsicio N.</span></div>
            </div>
        </footer>
    </div>
    
    <script>var base_url = "{{base}}";</script>
    <!-- scripts -->
    <script type="text/javascript" src="{{ base }}/public/assets/js/jquery-1.9.1.js?{{ ('public/assets/js/jquery-1.9.1.js')|filemtime }}"></script>
    <script type="text/javascript" src="http://code.jquery.com/ui/1.9.1/jquery-ui.js"></script>
    <script type="text/javascript" src="{{ base }}/public/assets/js/security.js?{{ ('public/assets/js/security.js')|filemtime }}"></script>
    <script type="text/javascript" src="{{ base }}/public/assets/js/procesos.js?{{ ('public/assets/js/procesos.js')|filemtime }}"></script>
    <script type="text/javascript" src="{{ base }}/public/assets/js/class.js?{{ ('public/assets/js/class.js')|filemtime }}"></script>
    <script type="text/javascript" src="{{ base }}/public/assets/js/general.js?{{ ('public/assets/js/general.js')|filemtime }}"></script>
    <script type="text/javascript" src="{{ base }}/public/assets/js/hse.js?{{ ('public/assets/js/hse.js')|filemtime }}"></script>

    {% block script %}{% endblock %}
    <script>
        // Iniciamos variables del entorno
        // Paginas
        var paginas_boxes = new Array();
        // Memoria virtual
        var data_boxes = new Array();
        
        function get(api, box, top, porPag, param){
            var request;
            if(navigator.appName == "Microsoft Internet Explorer")
                request = new ActiveXObject("Microsoft.XMLHTTP");
            else
                request = new XMLHttpRequest();
            request.open('GET', '/api/' + api + '.json?' + param + '&r=' + new Date().getTime(), true);
            request.onreadystatechange = function(){
                if(request.readyState == 4){
                    buildBox(box, JSON.parse(request.responseText), top, porPag);
                }
            };
            request.send('');
        }
        function $_(id){
            return document.getElementById(id);
        }
        function buildBox(box, data, top, porPag, pag){
            if(!pag){
                pag = 1;
                data_boxes[box] = data;
            }
            var lista = '',
                element = $_(box), 
                comienza = (pag * porPag) - porPag,
                termina = pag * porPag;
            
            element.innerHTML = '';
            if(top === true)
                element.style.counterReset = 'section ' + comienza;
            
            lista = eval(box +'(' + comienza + ', ' + termina + ');');
            element.innerHTML = lista;
            paginas_boxes[box] = pag;
        }
        function cPagina_box(box, top, porPag, pag, element){
            if(paginas_boxes[box]){
                if(pag == 'i'){
                    if(paginas_boxes[box] > 1)
                        paginas_boxes[box]--;
                }else if(pag == 'd'){
                    if(paginas_boxes[box] < 5)
                        paginas_boxes[box]++;
                }
                $_(box + '_i').style.opacity = (paginas_boxes[box] > 1) ? '1' : '0.3';
                $_(box + '_d').style.opacity = (paginas_boxes[box] < 5) ? '1' : '0.3';
                buildBox(box, 0, top, porPag, paginas_boxes[box]);
            }
        }
        // Conectar con Twitter & Facebook
        !function(q,e,r){
            var o,m = q.getElementsByTagName(e)[0], n = /^http:/.test(q.location) ? "http" : "https";
            if(!q.getElementById(r)){
                o = q.createElement(e);
                o.id = r;o.src = n + "://platform.twitter.com/widgets.js";
                m.parentNode.insertBefore(o,m);
            }
        }(document,"script","twitter-wjs");
        
        function abrirTab(url) {
            window.open(url);
        }
        function tabLogin(open){
            if(open == true){
                $_('log_in').style.display = 'block';
            }else{
                $_('log_in').style.display = 'none';
            }
        }
    </script>
</body>
</html>
