{% extends "layout/app.html" %}

{% block title %}{{ title }}{% endblock %}

{% block content %}
    
  <!-- Content Header (Page header) -->
  <section class="content-header">
    <h1>
      {{title}}
      <small>{{ module.tab_ajuda }}</small>
    </h1>
    <ol class="breadcrumb">
      <li><a href="{{ base }}"><i class="fa fa-dashboard"></i> Início</a></li>
      <li class="active">{{title}}</li>
    </ol>
  </section>

  <!-- Main content -->
  <section class="content">
    {% include "module/_alert.html" %}
    
    <div class="row">
      <div class="col-xs-12">
        <div class="box">
          <div class="box-body padding">
            <form method="post" action="{{base}}/account" enctype="multipart/form-data">
              <input type="hidden" name="_method" value="PUT">
              <input type="hidden" name="action_type" value="{{ action|lower }}">

              {% for field in fields %}
              <div class="form-group">
                <label for="field_{{ field.parameter.param_campo }}">
                  {{ field.parameter.param_form }} 
                  {% if field.parameter.param_comentario %}
                    <small style="color: #aaa">({{ field.parameter.param_comentario }})</small>
                  {% endif %}
                </label>

                {% include "parameter/#{field.parameter.param_tp_nome}/_form.html" %}
              </div>
              {% endfor %}

              <input type="submit" class="btn btn-success" value="Salvar">
            </form>
          </div><!-- /.box-body -->
        </div><!-- /.box -->
      </div>
    </div>
  </section><!-- /.content -->

{% endblock %}