{% if session.error %}
<div class="alert alert-danger alert-dismissable">
  <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
  <h4><i class="icon fa fa-ban"></i> Erro!</h4>
  {{ session.error|raw }}
</div>
{% endif %}

{% if session.success %}
<div class="alert alert-success alert-dismissable">
  <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
  <h4><i class="icon fa fa-check"></i> Sucesso!</h4>
  {{ session.success|raw }}
</div>
{% endif %}