<ol class="breadcrumb">
  <li><a href="{{ base }}"><i class="fa fa-dashboard"></i> Início</a></li>
  <li><a href="{{ base }}/menu/{{module.menu_id}}">{{module.menu_nome}}</a></li>
  <li class="active">{{ module.tab_nome }}</li>
</ol>