<div class="btn-actions" style="margin-bottom: 20px;">
  {% if permissions.insere %}<a href="{{ module_url }}/create" class="btn btn-primary">Inserir registro</a>{% endif %}
  {% if permissions.view %}
  <a href="{{ module_url }}" class="btn btn-success">Listar registros</a>
  <!-- <a href="{{ module_url }}/search" class="btn bg-purple">Busca avançada</a> -->
  <!-- <a href="{{ module_url }}/print" target="_blank" class="btn bg-olive">Visualizar impressão</a> -->
  {% endif %}
  <a href="javascript:history.go(-1)" class="btn bg-navy">Voltar</a>
</div>