{% extends "layout/app.html" %}

{% set module_url = "#{base}/module/#{module.tab_id}" %}
{% block title %}{{ action }} registro - {{ module.tab_nome }}{% endblock %}

{% block content %}
    
  <!-- Content Header (Page header) -->
  <section class="content-header">
    <h1>
      {{ module.tab_nome }}
      <small>{{ module.tab_ajuda }}</small>
    </h1>
    {% include "module/_breadcrumb.html" %}
  </section>

  <!-- Main content -->
  <section class="content">
    {% include "module/_alert.html" %}
    {% include "module/_btn.actions.html" %}
    
    <div class="row">
      <div class="col-xs-12">
        <div class="box">
          <div class="box-header">
            <h3 class="box-title">{{ action }} registro</h3>
          </div><!-- /.box-header -->
          <div class="box-body padding">
            <form method="post" action="{{ action == 'Inserir' ? module_url : "#{module_url}/#{params.id_record}" }}" enctype="multipart/form-data">
              {% if action == "Editar" %}
              <input type="hidden" name="_method" value="PUT">
              {% endif %}
              <input type="hidden" name="action_type" value="{{ action|lower }}">

              {% for field in fields %}
              <div class="form-group">
                <label for="field_{{ field.parameter.param_campo }}">
                  {{ field.parameter.param_form }} 
                  {% if field.parameter.param_comentario %}
                    <small style="color: #aaa">({{ field.parameter.param_comentario }})</small>
                  {% endif %}
                </label>

                {% include "parameter/#{field.parameter.param_tp_nome}/_form.html" %}
              </div>
              {% endfor %}
              {% set afterAction = "list" %}
              {% if session.after_action == "form" %}
                {% set afterAction = "form" %}
              {% endif %}
              <div class="form-group">
                <input type="radio" id="radio_button_return_list" name="after_action" value="list" class="minimal-red" {{afterAction == "list" ? "checked" : ""}}>
                <label style="margin-right: 20px;" for="radio_button_return_list">Retornar à lista</label>
                <input type="radio" id="radio_button_return_form" name="after_action" value="form" class="minimal-red" {{afterAction == "form" ? "checked" : ""}}>
                <label for="radio_button_return_form">{{ action == "Inserir" ? "Inserir novamente" : "Editar este registro" }}</label>
              </div>

              <input type="submit" class="btn btn-success" value="Salvar">
              <input type="reset" class="btn btn-default" value="Limpar">
            </form>
          </div><!-- /.box-body -->
        </div><!-- /.box -->
      </div>
    </div>
  </section><!-- /.content -->

{% endblock %}