{% extends "layout/app.html" %}

{% set module_url = "#{base}/module/#{module.tab_id}" %}
{% block title %}{{ action }} {{ module.tab_nome }}{% endblock %}

{% block content %}
  
  <!-- Content Header (Page header) -->
  <section class="content-header">
    <h1>
      {{ module.tab_nome }}
      <small>{{ module.tab_ajuda }}</small>
    </h1>
    {% include "module/_breadcrumb.html" %}
  </section>

  <!-- Main content -->
  <section class="content">
    {% include "module/_alert.html" %}
    {% include "module/_btn.actions.html" %}
    
    <div class="row">
      <div class="col-xs-12">
        <div class="box">
          <div class="box-header">
            <h3 class="box-title">Listagem</h3>
            {% if fields|length > 0 %}
            <div class="box-tools">
              <form method="get" action="{{ module_url }}">
                <div class="input-group">
                  <input type="text" name="search_query" class="form-control input-sm pull-right" style="max-width: 100%; width: 250px;" value="{{ search_query }}" placeholder="Procurar..."/>
                  <div class="input-group-btn">
                    <button class="btn btn-sm btn-default"><i class="fa fa-search"></i></button>
                  </div>
                </div>
              </form>
            </div>
            {% endif %}
          </div><!-- /.box-header -->
          <div class="box-body no-padding">
            <table class="table table-hover table-module">
              <thead>{% include "module/table.header.html" %}</thead>
              <tfoot>{% include "module/table.header.html" %}</tfoot>
              <tbody>
                {% set index = 0 %}
                {% for record in data %}
                <tr>
                  {% if permissions.edita or permissions.deleta or permissions.view %}
                  <td>
                    {% if permissions.deleta %}
                      <input type="checkbox" name="del_key[]" value="{{ record[ primary_key ] }}" class="flat-red check-record">
                    {% endif %}

                    {% if permissions.edita %}
                      <a href="{{ module_url }}/{{ record[ primary_key ] }}/edit"><i class="fa fa-pencil"></i></a>
                    {% endif %}

                    {% if permissions.view %}
                      <a href="{{ module_url }}/{{ record[ primary_key ] }}"><i class="fa fa-plus"></i></a>
                    {% endif %}
                  </td>
                  {% endif %}

                  {% if relations|length > 0 %}
                  <td>
                    <select class="chosen-select" name="relacionado" onchange="location.href = '{{ base }}/module/' + this.value + '?parent[id]={{ module.tab_id }}&parent[value]={{ record[ primary_key ] }}'">
                      <option value="">Selecione...</option>
                      {% for relation in relations %}
                        <option value="{{ relation.tab_id }}">{{ relation.tab_nome }}</option>
                      {% endfor %}
                    </select>
                  </td>
                  {% endif %}

                  {% for field in fields %}
                    <td>
                      {% if record[ field.parameter.param_campo ] is null or record[ field.parameter.param_campo ] is empty %}
                        {{ placeholder_empty }}
                      {% else %}
                        {% include "parameter/#{field.parameter.param_tp_nome}/_list.html" %}
                      {% endif %}
                    </td>
                  {% endfor %}
                </tr>
                  {% set index = index + 1 %}
                {% endfor %}
              </tbody>
            </table>
          </div><!-- /.box-body -->

          <!-- PAGINAÇÃO -->
          <div class="box-footer clearfix">
            <div class="pull-left">Total: <strong>{{ total_records }} registros</strong></div>
            {% if total_records > 0 %}
            <ul class="pagination pagination-sm no-margin pull-right">
              <li{{ current_page == 1 ? ' class="disabled"' : null }}><a href="{{ current_page == 1 ? 'javascript:;' : "#{module_url}/page/1#{query_string.all|raw}" }}">««</a></li>
              <li{{ current_page == 1 ? ' class="disabled"' : null }}><a href="{{ current_page == 1 ? 'javascript:;' : "#{module_url}/page/#{current_page-1}#{query_string.all|raw}" }}">«</a></li>
              {% for i in (current_page - 4)..(current_page + 4) %}
                {% if i > 0 and i <= total_pages %}
                  <li{{ i == current_page ? ' class="active"' : null }}><a href="{{ module_url }}/page/{{ i }}{{ query_string.all|raw }}">{{ i }}</a></li>
                {% endif %}
              {% endfor %}
              <li{{ current_page == total_pages ? ' class="disabled"' : null }}><a href="{{ current_page == total_pages ? 'javascript:;' : "#{module_url}/page/#{current_page+1}#{query_string.all|raw}" }}">»</a></li>
              <li{{ current_page == total_pages ? ' class="disabled"' : null }}><a href="{{ current_page == total_pages ? 'javascript:;' : "#{module_url}/page/#{total_pages}#{query_string.all|raw}" }}">»»</a></li>
            </ul>
            {% endif %}
          </div>
        </div><!-- /.box -->
      </div>
    </div>
  </section><!-- /.content -->

{% endblock %}