{% extends "layout/app.html" %}

{% set module_url = "#{base}/module/#{module.tab_id}" %}
{% block title %}Visualizar registro - {{ module.tab_nome }}{% endblock %}

{% block content %}
    
  <!-- Content Header (Page header) -->
  <section class="content-header">
    <h1>
      {{ module.tab_nome }}
      <small>{{ module.tab_ajuda }}</small>
    </h1>
    {% include "module/_breadcrumb.html" %}
  </section>

  <!-- Main content -->
  <section class="content">
    {% include "module/_alert.html" %}
    {% include "module/_btn.actions.html" %}
    
    <div class="row">
      <div class="col-xs-12">
        <div class="box">
          <div class="box-header">
            <h3 class="box-title">Buscar registro</h3>
          </div><!-- /.box-header -->
          <div class="box-body padding">
            <form method="post" action="">
              {% for field in fields %}
              <div class="form-group">
                <label for="field_{{ field.parameter.param_campo }}">
                  {{ field.parameter.param_form }}
                </label>

                {% include "parameter/#{field.parameter.param_tp_nome}/_search.html" %}
              </div>
              {% endfor %}

              <input type="submit" class="btn btn-success" value="Buscar">
            </form>
          </div><!-- /.box-body -->
        </div><!-- /.box -->
      </div>
    </div>
  </section><!-- /.content -->

{% endblock %}