{% extends "layout/app.html" %}

{% set module_url = "#{base}/module/#{module.tab_id}" %}
{% block title %}Visualizar registro - {{ module.tab_nome }}{% endblock %}

{% block content %}
    
  <!-- Content Header (Page header) -->
  <section class="content-header">
    <h1>
      {{ module.tab_nome }}
      <small>{{ module.tab_ajuda }}</small>
    </h1>
    {% include "module/_breadcrumb.html" %}
  </section>

  <!-- Main content -->
  <section class="content">
    {% include "module/_alert.html" %}
    {% include "module/_btn.actions.html" %}
    
    <div class="row">
      <div class="col-xs-12">
        <div class="box">
          <div class="box-header">
            <h3 class="box-title">Visualizar registro</h3>
          </div><!-- /.box-header -->
          <div class="box-body padding">
            <div class="row">
              {% for field in fields %}
              <div class="form-group clearfix">
                <div class="col-xs-12 col-sm-3 col-md-3 col-lg-2"><strong>{{ field.parameter.param_form }}</strong></div>
                <div class="col-xs-12 col-sm-9 col-md-9 col-lg-10">{% include "parameter/#{field.parameter.param_tp_nome}/_view.html" %}</div>
              </div>
              {% endfor %}
            </div>
          </div><!-- /.box-body -->
        </div><!-- /.box -->
      </div>
    </div>
  </section><!-- /.content -->

{% endblock %}