<tr>
  {% if permissions.edita or permissions.deleta or permissions.view %}
  <th width="80">
    {% if permissions.deleta %}
    <input type="checkbox" class="flat-red check-all" />
    <a href="javascript:;" class="module-delete-all" onclick="deleteAll( '{{ module_url }}' )"><i class="fa fa-trash"></i></a>
    {% endif %}

    {% if permissions.view %}
    <!-- <a href="{{ module_url }}/print" target="_blank"><i class="fa fa-print"></i></a> -->
    {% endif %}
  </th>
  {% endif %}

	{% if relations|length > 0 %}
	<th>Relacionados</th>
	{% endif %}
	
	{% for field in fields %}
	<th>
    <a href="{{ module_url }}/page/{{current_page}}?{{ query_string.parent is null ? "" : query_string.parent ~ "&" }}ordem[campo]={{ field.parameter.param_campo }}&ordem[direcao]={{ ordem.campo == field.parameter.param_campo and ordem.direcao == "asc" ? "desc" : "asc" }}" style="color: black">
      {{ field.parameter.param_lista }}
      {% if ordem.campo == field.parameter.param_campo %}
        <i class="fa fa-caret-{{ ordem.direcao == "asc" ? "up" : "down" }}"></i>
      {% endif %}
    </a>
  </th>
	{% endfor %}
</tr>