<div class="input-group">
  <div class="input-group-addon"> R$ </div>
  <input type="text" name="field_{{ field.parameter.param_campo }}" id="field_{{ field.parameter.param_campo }}" {{ field.required ? "required" : null }} {{ field.size is null or field.size <= 0 ? null : " maxlength=#{field.size}" }} class="form-control parameter-valor" value="{{ record_data[ field.parameter.param_campo ]|number_format(2, ',', '.') }}">
</div><!-- /.input group -->