<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <meta content='width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no' name='viewport'>

    {% block stylesheet %}
    <title>{% block title %}{% endblock %} | {{ app.vektor.title }}</title>
    <!-- Bootstrap 3.3.2 -->
    <link href="{{ base }}/public/bootstrap/css/bootstrap.min.css" rel="stylesheet" type="text/css" />    
    <!-- FontAwesome 4.3.0 -->
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css" rel="stylesheet" type="text/css" />
    <!-- Ionicons 2.0.0 -->
    <link href="http://code.ionicframework.com/ionicons/2.0.0/css/ionicons.min.css" rel="stylesheet" type="text/css" />    
    <!-- Theme style -->
    <link href="{{ base }}/public/dist/css/AdminLTE.min.css" rel="stylesheet" type="text/css" />
    <!-- AdminLTE Skins. Choose a skin from the css/skins 
         folder instead of downloading all of them to reduce the load. -->
    <link href="{{ base }}/public/dist/css/skins/_all-skins.min.css" rel="stylesheet" type="text/css" />
    <!-- iCheck -->
    <link href="{{ base }}/public/plugins/iCheck/minimal/_all.css" rel="stylesheet" type="text/css" />
    <!-- iCheck -->
    <link href="{{ base }}/public/plugins/iCheck/flat/blue.css" rel="stylesheet" type="text/css" />
    <!-- Date Picker -->
    <link href="{{ base }}/public/plugins/datepicker/datepicker3.css" rel="stylesheet" type="text/css" />
    <!-- Daterange picker -->
    <link href="{{ base }}/public/plugins/daterangepicker/daterangepicker-bs3.css" rel="stylesheet" type="text/css" />
    <!-- Bootstrap Color Picker -->
    <link href="{{ base }}/public/plugins/colorpicker/bootstrap-colorpicker.min.css" rel="stylesheet"/>
    <!-- chosen -->
    <link href="{{ base }}/public/plugins/chosen/chosen.min.css" rel="stylesheet" type="text/css" />
    <!-- boxer -->
    <link href="{{ base }}/public/plugins/boxer/jquery.fs.boxer.min.css" rel="stylesheet" type="text/css" />
    <!-- switchery -->
    <link href="{{ base }}/public/plugins/switchery/switchery.min.css" rel="stylesheet" type="text/css" />

    <!-- datatimepicker -->
    <link href="{{ base }}/public/plugins/datetimepicker/bootstrap-datetimepicker.min.css" rel="stylesheet" type="text/css" />

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
    <![endif]-->
    {% endblock %}
  </head>
  <body class="skin-blue">
    <div class="wrapper">
      
      <header class="main-header">
        <!-- Logo -->
        <a href="{{ base }}" class="logo"><b>{{ app.vektor.title }}</b></a>
        <!-- Header Navbar: style can be found in header.less -->
        <nav class="navbar navbar-static-top" role="navigation">
          <!-- Sidebar toggle button-->
          <a href="#" class="sidebar-toggle" data-toggle="offcanvas" role="button">
            <span class="sr-only">Toggle navigation</span>
          </a>
          <div class="navbar-custom-menu">
            <ul class="nav navbar-nav">
              <!-- User Account: style can be found in dropdown.less -->
              <li class="dropdown user user-menu">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                  <img src="{{ base ~ upload_dir ~ "/" ~ user_session.avatar }}" class="user-image" alt="User Image"/>
                  <span class="hidden-xs">{{ user_session.username }}</span>
                </a>
                <ul class="dropdown-menu">
                  <!-- User image -->
                  <li class="user-header">
                    <img src="{{ base ~ upload_dir ~ "/" ~ user_session.avatar }}" class="img-circle" alt="User Image" />
                    <p>
                      {{ user_session.username }} - {{user_session.role}}
                      <small>Cadastrado desde {{user_session.date_created|date("d/m/Y")}}</small>
                    </p>
                  </li>
                  <!-- Menu Footer-->
                  <li class="user-footer">
                    <div class="pull-left">
                      <a href="{{base}}/account" class="btn btn-default btn-flat">Perfil</a>
                    </div>
                    <div class="pull-right">
                      <a href="{{ base }}/logout" class="btn btn-default btn-flat">Sair</a>
                    </div>
                  </li>
                </ul>
              </li>
            </ul>
          </div>
        </nav>
      </header>
      <!-- Left side column. contains the logo and sidebar -->
      <aside class="main-sidebar">
        <!-- sidebar: style can be found in sidebar.less -->
        <section class="sidebar">
          <!-- Sidebar user panel -->
          <div class="user-panel">
            <div class="pull-left image">
              <img src="{{ base ~ upload_dir ~ "/" ~ user_session.avatar }}" class="img-circle" alt="User Image" />
            </div>
            <div class="pull-left info">
              <p>{{ user_session.username }}</p>
              <small>{{user_session.role}}</small>
            </div>
          </div>
          <!-- search form -->
          <!-- <form action="{{ base }}/search" method="post" class="sidebar-form">
            <div class="input-group">
              <input type="text" name="q" class="form-control" placeholder="Procurar..."/>
              <span class="input-group-btn">
                <button type='submit' name='search' id='search-btn' class="btn btn-flat"><i class="fa fa-search"></i></button>
              </span>
            </div>
          </form> -->
          <!-- /.search form -->
          <!-- sidebar menu: : style can be found in sidebar.less -->
          {% include "layout/menu.html" %}
        </section>
        <!-- /.sidebar -->
      </aside>

      <!-- Content Wrapper. Contains page content -->
      <div class="content-wrapper">{% block content %}{% endblock %}</div><!-- /.content-wrapper -->
      <footer class="main-footer">
        <div class="pull-right hidden-xs">
          <b>{{ app.vektor.title }}</b> {{ app.vektor.version }}
        </div>
        <strong>Copyright &copy; {{"now"|date("Y")}} <a href="http://rodrigopa.com.br" target="_blank">rodrigopa.com.br</a>.</strong> All rights reserved.
      </footer>
    </div><!-- ./wrapper -->

    {% block script %}
    <!-- jQuery 2.1.3 -->
    <script src="{{ base }}/public/plugins/jQuery/jQuery-2.1.3.min.js"></script>
    <!-- jQuery UI 1.11.2 -->
    <script src="http://code.jquery.com/ui/1.11.2/jquery-ui.min.js" type="text/javascript"></script>
    <!-- Resolve conflict in jQuery UI tooltip with Bootstrap tooltip -->
    <script>
      $.widget.bridge('uibutton', $.ui.button);
    </script>
    <!-- Bootstrap 3.3.2 JS -->
    <script src="{{ base }}/public/bootstrap/js/bootstrap.min.js" type="text/javascript"></script>    
    <!-- daterangepicker -->
    <script src="{{ base }}/public/plugins/daterangepicker/daterangepicker.js" type="text/javascript"></script>
    <!-- datepicker -->
    <script src="{{ base }}/public/plugins/datepicker/bootstrap-datepicker.js" type="text/javascript"></script>
    <!-- iCheck -->
    <script src="{{ base }}/public/plugins/iCheck/icheck.min.js" type="text/javascript"></script>
    <!-- Slimscroll -->
    <script src="{{ base }}/public/plugins/slimScroll/jquery.slimscroll.min.js" type="text/javascript"></script>
    <!-- FastClick -->
    <script src='{{ base }}/public/plugins/fastclick/fastclick.min.js'></script>
    <!-- Chosen -->
    <script src='{{ base }}/public/plugins/chosen/chosen.jquery.min.js'></script>
    <!-- datetimepicker -->
    <script src='{{ base }}/public/plugins/datetimepicker/bootstrap-datetimepicker.min.js'></script>
    <script src='{{ base }}/public/plugins/datetimepicker/bootstrap-datetimepicker.pt-BR.js'></script>
    <!-- InputMask -->
    <script src="{{ base }}/public/plugins/input-mask/jquery.inputmask.js" type="text/javascript"></script>
    <script src="{{ base }}/public/plugins/input-mask/jquery.inputmask.date.extensions.js" type="text/javascript"></script>
    <script src="{{ base }}/public/plugins/input-mask/jquery.inputmask.extensions.js" type="text/javascript"></script>
    <!-- bootstrap color picker -->
    <script src="{{ base }}/public/plugins/colorpicker/bootstrap-colorpicker.min.js" type="text/javascript"></script>
    <!-- ckeditor -->
    <script src="{{ base }}/public/plugins/ckeditor/ckeditor.js" type="text/javascript"></script>
    <!-- boxer -->
    <script src="{{ base }}/public/plugins/boxer/jquery.fs.boxer.min.js" type="text/javascript"></script>
    <!-- maskmoney -->
    <script src="{{ base }}/public/plugins/maskmoney/jquery.maskMoney.js" type="text/javascript"></script>
    <!-- switchery -->
    <script src="{{ base }}/public/plugins/switchery/switchery.min.js" type="text/javascript"></script>
    <!-- AdminLTE App -->
    <script src="{{ base }}/public/dist/js/app.min.js" type="text/javascript"></script>

    <!-- AdminLTE for demo purposes -->
    <script src="{{ base }}/public/dist/js/demo.js" type="text/javascript"></script>

    <script src="{{ base }}/public/dist/js/vektor.js" type="text/javascript"></script>
    
    {% endblock %}
  </body>
</html>