<ul class="sidebar-menu">
  <li class="header">MENU</li>
  {% for menuItem in menu %}
  <li class="treeview">
    <a href="#">
      <i class="fa {{menuItem.data.menu_icone}}"></i> <span>{{ menuItem.data.menu_nome }}</span> <i class="fa fa-angle-left pull-right"></i>
    </a>
    <ul class="treeview-menu">
      {% for tabela in menuItem.modules %}
        <li><a href="{{ base }}/module/{{ tabela.tab_id }}{{ tabela.tab_link == "Formulario" ? "/create" : "" }}"><i class="fa fa-circle-o"></i> {{ tabela.tab_nome }}</a></li>
      {% endfor %}
    </ul>
  </li>
  {% endfor %}
</ul>