<strong>
	{{title}}:
	{% if pagination.total_regs > 0 %}
		página {{pagination.page}} de {{pagination.total_pages}}
	{% endif %}
</strong>
{% if pagination.total_regs > 0 %}
<span class="pagination">
	{% if pagination.page == 1 %}
		<a href="javascript:;" class="disabled"><i class="icon-arrow-left"></i></a>
	{% else %}
		<a href="{{base}}/furni/{{page_name}}/{{pagination.page-1}}"><i class="icon-arrow-left"></i></a>
	{% endif %}
	
	{% if pagination.page == pagination.total_pages %}
		<a href="javascript:;" class="disabled"><i class="icon-arrow-right"></i></a>
	{% else %}
		<a href="{{base}}/furni/{{page_name}}/{{pagination.page+1}}"><i class="icon-arrow-right"></i></a>
	{% endif %}
</span>
{% endif %}