<div class="box">
	<div class="head">
		<b>columnas</b> semanales
	</div>  
	<div id="columnas">
    	{% for news in newsList %}

			<div onclick="irWeb('articles/{{ news.id }}-{{ news.titulo|slugify }}');">
				<div class="imagen" style="background: #ccc url({{ news.imagen }}) -{{ news.imgx }}px -{{ news.imgy }}px no-repeat"></div>
				<div class="texto">
					<div><strong>{{ news.titulo }}</strong></div>
					<div class="autor">{{ news.desc }}</div>
				</div>
			</div>

        {% endfor %}
	</div>
</div>
<div class="box">
	<div class="head">
		<b>ranking</b> del foro
		<div class="nav">
			<i id="top_foro_i" class="icon-arrow-up"></i>
			<i id="top_foro_d" class="icon-arrow-down"></i>
		</div>
	</div>
	<ol id="top_foro">
		{% set i = 0 %}
		{% for ranking in rankingList if i < 10 %}

			{% set class = ( i < 3 ? ' class="top"' : '' ) %}
			<li{{class|raw}} style="background-image: url(http://www.habbohotel.es/habbo-imaging/avatarimage?user={{ranking.habbo}}&direction=4&head_direction=3&gesture=sml&action=wav&size=s)"><strong>{{ranking.user}}</strong> - {{ranking.count}} mensajes</li>

			{% set i = i+1 %}
		{% endfor %}
	</ol>
</div>
<div class="box">
	<div class="head"><b>hoteles</b> en línea</div>
	<div id="hoteles">
		<div class="verde" onClick="abrirTab('http://habbo.es/')" style="background-image: url({{ base }}/public/assets/images/web/flags/es.png);"><b>Habbo ES</b> Build (patch) 2477a</div>
		<div class="rojo" onClick="abrirTab('http://habbo.com/')" style="background-image: url({{ base }}/public/assets/images/web/flags/com.png);"><b>Habbo COM</b> Build 2477a</div>
		<div class="rojo" onClick="abrirTab('http://habbo.de/')" style="background-image: url({{ base }}/public/assets/images/web/flags/de.png);"><b>Habbo DE</b> Build 2477a</div>
	</div>
</div>
<div class="box">
	<div class="head"><b>redes</b> sociales</div>
	<div id="redes_sociales">
		<div class="twitter" onClick="abrirTab('https://twitter.com/ESHabboSecurity')">@ESHabboSecurity</div>
		<div class="facebook" onClick="abrirTab('https://www.facebook.com/pages/HabboSecurityES/298123873654989')"></div>
	</div>
	<div style="margin-top:10px; margin-bottom: 10px; overflow:hidden">
		<a class="twitter-timeline" data-dnt="true" href="https://twitter.com/ESHabboSecurity" data-widget-id="504290311183413249">Tweets por @HabboSecurityES</a>
	</div>
</div>
