<form action="{{ base }}/module/{{ module.tab_id }}/{{ record[ primary_key ] }}" method="post">
	<input type="hidden" name="_method" value="PUT">
	<input type="hidden" name="action_type" value="editar_lista">
	<input type="hidden" name="after_action" value="list">
	<input type="hidden" name="id_record" value="{{ record[ primary_key ] }}">
	<input type="hidden" name="redirect" value="{{ base }}/module/{{ module.tab_id }}{{ query_string.all }}">
	<input type="checkbox" name="field_{{ field.parameter.param_campo }}" value="1" class="toggle_status_input" {{ record[ field.parameter.param_campo ] == 1 ? "checked" : "" }} />
</form>