{% if action == "Inserir" %}
	{% set name_usr = user_session.username %}
{% else %}
	{% set name_usr = record_data[ "foreign_field_#{field.parameter.param_campo}" ] %}
	{% set name_usr = name_usr is null or name_usr is empty ? record_data[ field.parameter.param_campo ] : record_data[ "foreign_field_#{field.parameter.param_campo}" ] %}
{% endif %}
<input type="hidden" name="field_{{ field.parameter.param_campo }}" id="field_{{ field.parameter.param_campo }}" value="">
<p><input type="text" name="foreign_field_{{field.parameter.param_campo}}" id="foreign_field_{{field.parameter.param_campo}}" disabled {{ field.required ? "required" : null }} class="form-control" value="{{ name_usr }}"></p>
