<div class="input-group">
  <div class="input-group-addon">
    <i class="fa fa-envelope-o"></i>
  </div>
  <input type="text" name="field_{{ field.parameter.param_campo }}" id="field_{{ field.parameter.param_campo }}" {{ field.required ? "required" : null }} {{ field.size is null or field.size <= 0 ? null : " maxlength=#{field.size}" }} class="form-control" value="{{ record_data[ field.parameter.param_campo ] }}">
</div><!-- /.input group -->